
<div class="container">
  <div class="card" >

    <div class="container-fliud">
      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1"><img src="https://drive.google.com/uc?export=view&id=1p3qqEuBywyBytm9HC7_XIgZrSqgZehHx"/><font style="color: #6d071a ">Bordeaux</font></div>
            <div class="tab-pane" id="pic-2"><img src="https://drive.google.com/uc?export=view&id=1O5CJrdgc7GOLYv2PPUQJ76L0hEmK3R_D" /><font style="color: saddlebrown ">Marron</font></div>
            <div class="tab-pane" id="pic-3"><img src="https://drive.google.com/uc?export=view&id=1-TDFFT62y4yzkrsquvmcKZdwIBooO72u"/><font style="color: black ">Noir</font></div>



          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1p3qqEuBywyBytm9HC7_XIgZrSqgZehHx" /></a></li>
            <li><a data-target="#pic-2" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1O5CJrdgc7GOLYv2PPUQJ76L0hEmK3R_D" /></a></li>
            <li><a data-target="#pic-3" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1-TDFFT62y4yzkrsquvmcKZdwIBooO72u" /></a></li>


          </ul>

        </div>
        <div class="details col-md-6">
          <h4 class="product-title" style="margin-top: 2% ; ">Antonia</h4>

          <div class="informations">



            <div class="form-group"  style="margin-top: 10%"   >
              <label style="font-size: 30px">Pointures</label>
              <div class="row">28 , 29 , 30 , 31 , 32 , 33 , 34 , 35  </div>

            </div>

     
            <div class="action" >
              <button routerLink="/JuniorFilles"  id ='retour'  class="btn btn-danger" type="button">Retour</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
