
<img class="float-left ,  img-fluid"     id="image" src="https://drive.google.com/uc?export=view&id=1QR1ee2VvGRV5-M70uP1M9rmuDiWr5tlK" style="padding: 2%">



<div class="jumbotron" style="background-color: #e7f038"> <h2  id="Titre"  style="color: #FFFFFF">Notre Savoir-faire</h2>    </div>



  <p> Avec Alma, nous nous mettons à la place des enfants : nous jouons, nous rêvons, nous osons.</p>
 <p> Mais au-delà de l'originalité de nos modèles, notre but est de proposer une gamme de chaussures confortables capable
   d’accompagner l'esprit créatif et aventurier de l'enfant.</p>

  <p> C'est pourquoi nos semelles sont résistantes à l'usure, souples et flexibles. </p>
 <p> Notre exigence quant au choix des cuirs véritables garantit au mieux le confort et la
  qualité de nos produits. La production étant européenne, nous accompagnons chaque étape du
   processus de production, de la conception jusqu'au montage.</p>

  <p> Nous mettons le design en valeur car la qualité ne doit pas seulement être ressentie, elle doit également se voir.
  Chaque élément est important pour Alma : le choix de couleurs assorties,
  les doublures, les lacets, les embossages. Aucun détail ne passe à côté, afin de permettre à nos
    aventuriers de se sentir libres à d’explorer ce monde plein d'aventures!</p>

<h3 >
  <p>Le premier ingrédient pour créer Alma a été la passion pour la chaussure.</p>
  <p>Une aventure quotidienne qu’il traverse avec son esprit créatif, gai et intrépide.</p>
  <p>Il est donc important de respecter et de comprendre l'anatomie de son pied pour lui offrir le plus de confort possible.</p>
  <p>Trouver la bonne formule n’était pas simple, mais l’âme était déjà là: Alma.</p>
  <p>Afin de trouver l’inspiration,</p>
  <p>nous pénétrons dans le monde merveilleux de l’enfant et dans toutes les histoires qui y naissent.</p>
  <p>De l’indien dans son tipi, à l’exploratrice de grands espaces,</p>
  <p>nous voulons transmettre cet esprit aventurier à travers le design de nos chaussures,</p>
  <p>qui sont également adaptées à la vie citadine.</p>
</h3>
