
<div class="container" >





  <div class="card">
    <div class="card__image-container" routerLink="/4PattesGarçons">
      <div class="cardbg"  id="pattes" ></div>
    </div>
    <div class="card__content">
      <h1 class="card__title" style="color: deepskyblue">4 pattes</h1>
      <p>Pointures: 18 - 23</p>
    </div>
  </div>





  <div class="card" >
    <div class="card__image-container" routerLink="/PremierPasFilles">
      <div class="cardbg"  id="premierpas"  ></div>
    </div>
    <div class="card__content">
      <h1 class="card__title" style="background-color: #e7f038;color: #ffffff">Premier pas </h1>
      <p> Pointures: 24 - 30</p>
    </div>
  </div>


  <div class="card">
    <div class="card__image-container" routerLink="/JuniorFilles">
      <div class="cardbg"  id="junior"  ></div>
    </div>
    <div class="card__content">
      <h1 class="card__title" style="background-color: #FFFFFF">  <font style="color:#e7f038 ">  Junior </font>   </h1>
      <p>Pointures: 28 - 39</p>
    </div>
  </div>













</div>
