<div class="container">
  <div  class="wrap">

    <div   routerLink="/4PattesGarçons"  class="box one">

      <div class="poster p1">
        <div class="title" style="color: #4AC29A">4 Pattes</div>
      </div>
    </div>

    <div    routerLink="/PremierPasGarçons" class="box two">

      <div class="poster p2">
        <div class="title">Premiers Pas</div>
      </div>
    </div>

    <div    routerLink="/JuniorGarçons"   class="box three">

      <div class="poster p3">
        <div class="title" style="color: #e3e81d">Junior</div>
      </div>
    </div>
  </div>
</div>
