
<div class="container" style="margin: 2%">
  <nav class="mobile-menu ">
    <label for="show-menu" class="show-menu"><span>Menu</span><div class="lines"></div></label>
    <input type="checkbox" id="show-menu">
    <ul id="menu">
      <li><a  routerLink="/Accueil"  > <img    src="http://drive.google.com/uc?export=view&id=1rAeN18bxZHhkpD05VzN11_njyuDgKc-u" style="padding: 2%">   Accueil</a></li>
      <li>			<a  routerLink="/Fille"    ><img    src="http://drive.google.com/uc?export=view&id=1U-AloGgIMfoUfqbo_W-q_FIhaFpyRXNv" style="padding: 2%"> Fille</a>		</li>
      <li>			<a   routerLink="/Garçon"   > <img    src="http://drive.google.com/uc?export=view&id=1pKjZZwymYnWZUQkIWO3S_4Tl61a2rlXi" style="padding: 2%">   Garçon</a>		</li>
      <li><a  routerLink="/La marque"   ><img    src="http://drive.google.com/uc?export=view&id=1M2YbUAMsXybU2XkdMnZn6fZxTTr_8xHL" style="padding: 2%">La marque</a></li>
      <li><a  routerLink="/EspacePro"   ><img   src="http://drive.google.com/uc?export=view&id=14g1QkSV3Ggyz7EE_KSqgXWsPyr5l6Wta" style="padding: 2%">Espace Pro</a></li>
      <li style="margin-left: 5%"><a  routerLink="/Noustrouver"   ><img  id="noustrouver" src="http://drive.google.com/uc?export=view&id=12_RH_0ZgaCTOTTZos5rKF30t6GtHOah5" style="padding: 2% "></a></li>
    </ul>
  </nav>
</div>
