*{
  margin:0;
  padding:0;
}
body {
  font-family: Montserrat, serif;

}
.mobile-menu {
  display:block;
  width:100%;
  background: #8aa8bd/*e0b88f/*c99393/*e5d1a4/*dcc591/*EFD3A3*/;
  line-height: 1.6em;
  font-weight: 400;
  width:100%;
  text-align:center;

  margin:0 auto;
}
/*Strip the ul of padding and list styling*/
.mobile-menu ul {
  list-style-type:none;
  margin: 0 auto;
  padding-left:0;
  text-align:center;
  width:100%;

  background: #f8f9fa;
}

/*Create a horizontal list with spacing*/
.mobile-menu li {
  display:inline-block;
  /*float: left;
    margin-right: 1px;*/
}

/*Style for menu links*/
.mobile-menu li a {
  display:block;
  min-width:140px;
  text-align: center;
  font-family: Montserrat, serif;
  color: #222222;

  background: #f8f9fa;
  text-decoration: none;
  margin-left:-5px;
  padding: 10px 0;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -ms-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}






/*Hover state for top level links*/
.mobile-menu li:hover a {
  color: #222222;
  background-color:#e7f038;
}

/*Style for dropdown links*/
.mobile-menu li:hover ul a {
  background: #f8f9fa;
  color: #222222;
  height: 40px;
  line-height: 40px;
}

/*Hover state for dropdown links*/
.mobile-menu li:hover .mobile-menu ul a:hover {
  color: #e7f038;

}

/*Hide dropdown links until they are needed*/
.mobile-menu li ul {
  display: none;
}

/*Make dropdown links vertical*/
.mobile-menu li ul li {
  display: block;
  float: none;
}

/*Prevent text wrapping*/
.mobile-menu li ul li a {
  width: auto;
  min-width: 100px;
  padding: 0 20px;
}


/*Style 'show menu' label button and hide it by default*/
.mobile-menu .show-menu {
  text-decoration: none;
  color: #222222;
  background: #e7f038;
  text-align: center;
  padding: 10px 15px;
  display: none;
  cursor: pointer;
  text-transform: uppercase;
}

.mobile-menu .show-menu span{
  padding-left: 35px;
}

/*Hide checkbox*/
.mobile-menu input[type=checkbox]{
  display: none;
}

/*Show menu when invisible checkbox is checked*/
.mobile-menu input[type=checkbox]:checked ~ #menu{
  display: block;
}

/*Responsive Styles*/

@media screen and (max-width : 800px){
  .mobile-menu .lines {
    border-bottom: 15px double #f8f8f8;
    border-top: 5px solid #f8f8f8;
    content:"";
    height: 5px;
    width:20px;
    padding-right:15px;
    float: right;
  }
  /*Make dropdown links appear inline*/
  .mobile-menu ul {
    position: static;
    display: none;
    font-size: 20px;
  }
  /*Create vertical spacing*/
  .mobile-menu li {
    margin-bottom: 1px;
  }
  /*Make all menu links full width*/
  .mobile-menu ul li, .mobile-menu li a {
    width: 100%;
  }
  /*Display 'show menu' link*/
  .mobile-menu .show-menu {
    display:block;
  }
}

a{
  font-size: 2vh;
}


@media screen and (min-width: 1020px) and (max-width: 1399px){



}

  @media screen and (min-width: 1400px){
    #menu{
      margin-left: 10%;
    }
    .mobile-menu{
      background-color: white;
    }
  }


    @media screen and (min-width: 701px) and  (max-width: 1000px){

    }

@media screen and (min-width: 320px){
  .mobile-menu{
    margin:0;
  }
}


img{
  height: 40px;
  width: 40px;

}

#noustrouver{
  height: 50px;
  width: 50px;
}

li {
  margin: 2%;
}

#menu{
  font-family: Montserrat, serif;


}

/* BUTTON 1 */
.btn-1::after {
  height: 0;
  left: 0;
  top: 0;
  width: 100%;
}

.btn-1:hover:after {
  height: 100%;
}
.btn-1::before,
.btn-1::after {
  background: #fff;
  content: '';
  position: absolute;
  z-index: -1;
}

.btn-1:hover {
  color: #2ecc71;
}
