.container-fluid{
  margin-left: 25%;

}

li.nav-item{
 padding: 10%;
}
.nav-item a:hover {
  color: #e7f038 !important;
  cursor: pointer;
}

h4{
  font-family: Montserrat, serif;

  font-size: medium;

}
.nav-item a:current
{
  color: #e7f038;

}

.nav-link{

}

.navbar-nav li.active > a {

  color: #e7f038;
}




.navbar .dropdown-toggle, .navbar .dropdown-menu a {
  cursor: pointer;
}

.navbar .dropdown-item.active, .navbar .dropdown-item:active {
  color: #e7f038;
  text-decoration: none;
  background-color: inherit;
}

.navbar .dropdown-item:focus, .navbar .dropdown-item:hover {
  color: #e7f038;
  text-decoration: none;

}

a:focus {
  outline: none;

}



@media (min-width: 767px) {
  .navbar .dropdown-toggle:not(.nav-link)::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .5em;
    vertical-align: 0;
    border-bottom: .3em solid transparent;
    border-top: .3em solid transparent;
    border-left: .3em solid;
  }
}

#navbarCollapse{
 margin-left: 23%;

}

body {
  font-family: 'Open Sans', 'sans-serif';
  background:#f0f0f0;
  background: url(https://pcbx.us/bfjb.jpg);
}

h1, .h1 {
  font-size: 36px;
  text-align: center;
  font-size: 5em;
  color: #404041;
}






.card{
  width: 10%;
  height: 100%;
}


#CardContainer2{
  margin-left: 20%;
  width: 13%;
  height: 100%;
}
#CardContainer1{
  margin-left: 20%;
  width: 13%;
  height: 100%;
}





#DropdownMenu{
  height: 100%;


}



#CardHeightLimit{
  height: 100%
}
#cardMargin{
  margin-left: 25%;
}

div {

}


 #1{
   /**  background-image: url("1.JPG"); **/
 }
 #test , #test2 , #test3{
   width: 100px;
   height: 110px;
   transform: rotate(90deg);
   margin-top: 10%;
 }

 a:hover {

color: #e7f038;
 }
.dropdown-toggle:after { content: none }

