<div class="header header-fixed">
  <div class="navbar container">
    <div class="logo"><a routerLink="/Accueil"><img  id="Logo"  src="https://drive.google.com/uc?export=view&id=18ujjwT0tqCSTSCAqpx1280udhdiiVVoP" alt="Lorem Ipsum"></a></div>
    <input type="checkbox" id="navbar-toggle" >
    <label for="navbar-toggle"><i></i></label>
    <nav class="menu stroke">
      <ul>
        <li routerLink="/Accueil"><a  style="color: #222222"  > <img id="Accueil"    src="https://drive.google.com/uc?export=view&id=1rAeN18bxZHhkpD05VzN11_njyuDgKc-u" style="padding: 2%">   Accueil</a></li>
        <li   routerLink="/Fille"  >			<a  style="color: #222222"   ><img id="Fille"   src="https://drive.google.com/uc?export=view&id=1U-AloGgIMfoUfqbo_W-q_FIhaFpyRXNv" style="padding: 2%"> Fille</a>		</li>
        <li   routerLink="/Garçon" >			<a   style="color: #222222"  > <img id="Garçon"   src="https://drive.google.com/uc?export=view&id=1pKjZZwymYnWZUQkIWO3S_4Tl61a2rlXi" style="padding: 2%">   Garçon</a>		</li>
        <li   routerLink="/La marque"  ><a  style="color: #222222"  ><img  id="Lamarque"   src="https://drive.google.com/uc?export=view&id=1M2YbUAMsXybU2XkdMnZn6fZxTTr_8xHL" style="padding: 2%">La marque</a></li>
        <li routerLink="/EspacePro"  ><a   style="color: #222222"  ><img  id="EspacePro" src="https://drive.google.com/uc?export=view&id=14g1QkSV3Ggyz7EE_KSqgXWsPyr5l6Wta" style="padding: 2%">EspacePro</a></li>
        <li style="margin-left: 5%"    routerLink="/Noustrouver"><a    ><img  id="Noustrouver" src="https://drive.google.com/uc?export=view&id=12_RH_0ZgaCTOTTZos5rKF30t6GtHOah5" style="padding: 2% "></a></li>
      </ul>
    </nav>
  </div>
</div>

