#first_17:focus , #last_17:focus{
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
  outline: 0 none;
}

input:focus {

}

#first_17:focus , #last_17:focus{
  border-color: rgba(255, 69, 0, 0.89);
  box-shadow: 0 1px 1px rgba(255, 69, 0, 0.89) inset, 0 0 8px rgba(255, 69, 0, 0.89);
  outline: 0 none;
}
