
<body >

<app-signup></app-signup>

<app-jgarcondashboard></app-jgarcondashboard>
<app-jfillesdashboard></app-jfillesdashboard>

<div>
  <div class="text"> Etre connecté sur almafolie9@gmail.com avant de cliquer. </div>
  <div class="container">
    <a Target="_blank" href="https://app.bitly.com/Bja3er7IoHI/performance/2oTQowL">Bitly: Nombres de cliques</a>
  </div>
  <div class="container">
    <a  Target="_blank" href="https://console.firebase.google.com/u/0/project/almadatabase/authentication/users">Firebase: Derniers clients connectés</a>
  </div>
  <div class="container">
    <a   Target="_blank" href="https://analytics.google.com/analytics/web/#/dashboard/VMh4oS_gTOq55phhSPEUyw/a147062806w209050408p201379657/">Analytics: Nombres de connections et lieux</a>
  </div>


  <div style="margin-top: 2%" class="jumbotron"> <font style="font-size: 5vh ; margin-left: 40%; ">Tutoriels </font></div>
  <iframe src="http://www.youtube.com/embed/eXOFlZtacRU"
          width="560" height="315" frameborder="0" allowfullscreen></iframe>
  <iframe src="http://www.youtube.com/embed/XBPk84RP2BQ"
          width="560" height="315" frameborder="0" allowfullscreen></iframe>
  <iframe src="http://www.youtube.com/embed/HrwpGeDNRx0"
          width="560" height="315" frameborder="0" allowfullscreen></iframe>


</div>

</body>
