<body >
<div  style=" margin-left: 18%">
  <div class="connect" >
    <div *ngIf="!user">  <app-vousdevezvousconnecter></app-vousdevezvousconnecter>       </div>

  </div>
</div>

<div *ngIf="user"  class="conatiner">



  <div class="container-fluid"  >
    <img  id="logo"  src="https://drive.google.com/uc?export=view&id=1_U7WgoVxl98rSTr4ovkOmM0uPyGp9F1N">

    <p class="text" id="welcome" *ngIf="(user)">
      Connecté(e)
      <strong> {{ user?.displayName }}</strong>
      <button class="btn btn-default btn-lg text " *ngIf="user" (click)="logout()">Se deconnecter</button>
      <button routerLink="/Accueil" class="btn btn-default btn-lg text">Mon alma</button>
    </p>

  </div>


  <div class="jumbotron" *ngIf="(router.url === '/EspacePro' || router.url === '/Inspiration' )    ">
      <p  id="Page"> Espace professionnel </p>

  </div>



  <div class="wrap">

    <div class="box one">

      <div class="poster p1">
        <div class="title">Coups de coeur</div>
      </div>
    </div>

    <div routerLink="/Inspiration"  class="box two">

      <div class="poster p2">
        <div class="title">Inspiration</div>
      </div>
    </div>

    <div routerLink="/Projets" class="box three">

      <div class="poster p3">
        <div class="title">Projets</div>
      </div>
    </div>

    <div routerLink="/Developpements-exclusifs" class="box five">

      <div class="poster p4">
        <div class="title">Developpement exclusifs</div>
      </div>
    </div>



  </div>
</div>

</body>
