<body >
<div  style=" margin-left: 18%">
  <div class="connect" >
    <div *ngIf="!user">  <app-vousdevezvousconnecter></app-vousdevezvousconnecter>       </div>

  </div>
</div>




<div *ngIf="user  "  class="conatiner">


  <!-- VUE DE L'ADMIN  !-->
  <div  style="position: relative ; height: 100%" *ngIf="user.email ==='almafolie9@gmail.com'"  >
    <div class="container-fluid"  >
      <img  class="logo" alt="Ace compagny trading , ace , espace professionnel" src="https://drive.google.com/uc?export=view&id=1foewSO28-mBrLgtuhYB7QtmvHwTEnvTR">
      <p class="text welcome"  >
        Admin Connecté(e)
        <strong> {{ user?.displayName }}</strong>
        <button class="btn btn-default btn-lg text " *ngIf="user" (click)="logout()">Se déconnecter</button>
        <button routerLink="/Accueil" class="btn btn-default btn-lg text">Mon alma</button>
      </p>
    </div>
    <app-adminview style="padding: 5%"></app-adminview>
  </div>
  <!--  -------------    !-->



<div id="userview" *ngIf="user.email !=='almafolie9@gmail.com'" >

  <div class="container-fluid"  >
    <img  class="logo" alt="Ace compagny trading , ace , espace professionnel" src="https://drive.google.com/uc?export=view&id=1foewSO28-mBrLgtuhYB7QtmvHwTEnvTR">

    <p class="text welcome "  >
      Connecté(e)
      <strong> {{ user?.displayName }}</strong>
      <button class="btn btn-default btn-lg text " *ngIf="user" (click)="logout()">Se déconnecter</button>
      <button routerLink="/Accueil" class="btn btn-default btn-lg text">Mon alma </button>
    </p>

  </div>



  <div class="jumbotron" *ngIf="(router.url === '/EspacePro' || router.url === '/Inspiration' )    ">
   <a  title="Comment ça marche ?" href="https://www.youtube.com/watch?v=HVG0aoMEYpw"  target="_blank" > <button   class="btn btn-default btn-lg text"><span  class="glyphicon glyphicon-question-sign"><div  style="font-family: concert, serif ; font-size: 2vh"> </div></span></button></a>

    <p  id="Page"> Espace professionnel </p>

  </div>



  <div class="wrap">

    <div routerLink="/Coupsdecoeur" class="box one">

      <div   class="poster p1">
        <div class="title">Coups de coeur</div>
      </div>
    </div>

    <div routerLink="/Inspiration"  class="box two">

      <div class="poster p2">
        <div class="title">Inspirations</div>
      </div>
    </div>

    <div routerLink="/Projets" class="box three">

      <div class="poster p3">
        <div class="title">Projets</div>
      </div>
    </div>

    <div routerLink="/Developpements-exclusifs" class="box five">

      <div class="poster p4">
        <div class="title">Développement exclusifs</div>
      </div>
    </div>



  </div>
</div>


</div>

</body>
