<body>
<div   style="margin-top: 2%; margin-left: 20%">
  <div id="text">
    <p *ngIf="user">Bienvenue sur votre espace pro: <br> {{ user?.displayName }}  </p>
    <button class="btn btn-default btn-lg " *ngIf="user" (click)="logout()">Se deconnecter</button>
    <h3 style=" font-size: 1.5vw "    *ngIf="!user">Vous devez vous connecter pour acceder à l'espace professionel</h3>
    <button    routerLink="/Login" class="btn btn-default btn-lg" *ngIf="!user" >Se connecter</button>
  </div>
</div>



<div  *ngIf="user"  class="container" >





  <div class="card" >
    <div     class="card__image-container" routerLink="">
      <div class="cardbg"  id="Coupsdecoeurs"  style=""></div>
    </div>
    <div class="card__content">

      <h1 class="card__title" style="background-color: rgba(255, 69, 0, 0.89);color: #FFFFFF">Coups de coeurs</h1>

    </div>
  </div>


  <div class="card" >

    <div class="card__image-container" routerLink="/Inspiration"     >
      <div class="cardbg"  id="Inspirations" style=""></div>
    </div>
    <div class="card__content">
      <h1 class="card__title" style="background-color: rgba(255, 69, 0, 0.89); color: #FFFFFF">Inspirations </h1>

    </div>

  </div>


  <div class="card">
    <div class="card__image-container" routerLink="/Projets">
      <div class="cardbg"  id="Projets"  style=""></div>
    </div>
    <div class="card__content">
      <h1 class="card__title" style="background-color: rgba(255, 69, 0, 0.89);color: #FFFFFF">Projets </h1>

    </div>
  </div>

  <div class="card">
    <div class="card__image-container" routerLink="/Developpements-exclusifs">
      <div class="cardbg"  id="Devexclu"  style=""></div>
    </div>
    <div class="card__content">
      <h1 class="card__title" style="background-color: rgba(255, 69, 0, 0.89);color: #FFFFFF">Developpements exclusifs </h1>

    </div>
  </div>






</div>
</body>
