<button id="retour"  routerLink="/Projets" class="btn btn-default btn-lg"  >Retour</button>


<header>
  <div class="overlay" autoscroll="true">

  </div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted">
    <source src="//drive.google.com/uc?export=view&id=1e35U_akgx2R4uBLHcmxXkDVIqVXdCZ9n" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
    </div>
  </div>
</header>
<div class="jumbotron" style="background-color: #FFFFFF"></div>

<div class="content" >
  <div class="wrapper" style="background-color:  rgba(255, 69, 0, 0.89)" >

  <img class="in-left" id="imagetannage" src="//drive.google.com/uc?export=view&id=1YC4LW8_FZM4F3C5MCjgAzjlSdIE5MglZ"  >

  <div class="card in-right" id="cardcommentçamarche">
    <p class="titre">Comment &ccedil;a marche ?</p>
    <p class="article">Le tannage v&eacute;g&eacute;tal est une ancienne technique qui consiste &agrave;
      tanner le cuir &agrave; partir d&rsquo;extraits de plantes connues comme tanins.<br>
      Chaque tanin produit des r&eacute;sultats diff&eacute;rents sur le cuir : comme la couleur, la souplesse et le temps de tannage.<br>
      Les principaux extraits proviennent d&rsquo;&eacute;corces d&rsquo;arbres comme le mimosa ou le quebracho. <br>
      Le proc&eacute;d&eacute; est lent compar&eacute; au tannage au chrome.<br>
      Cela est d&ucirc; aux substances naturelles et biod&eacute;gradables, aux qualit&eacute;s anallergiques.</p>
  </div>
  </div>

  <div class="jumbotron" style="background-color: #FFFFFF"></div>


  <div class="wrapper" >

    <img class="in-right" id="Avantage" src="//drive.google.com/uc?export=view&id=1D4UdAnJ_DOwOaKPv9QqoEVVQfH43e8Ly"  >



<div class="card in-left" id="cardAvantages">
  <p class="titre">Les avantages</p>
  <p class="article">

     Les cuirs en tannage végétal ont une tenue ferme et une meilleure absorption de l’humidité.
    Les teintes naturelles garantissent des couleurs profondes et plus nuancées, en permettant également de bien vieillir car une jolie patine se crée au fil du temps.<br>
    Il s’agit aussi d’un procédé plus sain pour le travailleur car aucun produit chimique n’est utilisé dans le cas du tannage végétal, mais uniquement des composants naturels.
  </p>
</div>
</div>

<
  <div class="jumbotron" style="position: relative" style="background-color: #FFFFFF"> </div>
  <p  style="margin-left: 25%"  class="titre">Et si on les comparait ? </p>
    <div  class="wrapper" style="background-color: #FFFFFF;" >
<div class="container"  >
      <div class="row" style="margin: 0" >
        <div class="col in-left "  style="float: left" >
          <div class="card " id="chrome" >
            <img  id="Tanchrom"  src="//drive.google.com/uc?export=view&id=124k4AoWGYaN7pgNB7n37JcifC07reo0W">
          </div>
          <div  id="chromdesc"  class="jumbotron in-left">  <font> Tannage au chrome:<br>
            Trempage des peaux dans un foulon à base de sels de chrome</font></div>
        </div>

        <div class="col in-right"  style="float: right; margin-left: 1px">
          <div class="card " id="vegetal">
            <img id="Tanveg" src="//drive.google.com/uc?export=view&id=1Y9oBd0e0eR362oR461Kg6YnSr8p5EqeX">
          </div>
          <div id="vegdesc"  class="jumbotron in-right"><font> Tannage végétal:<br>
            Trempage des peaux en cuve contenant les
            tanins végétaux.</font></div>
    </div>
<div   id="Cardcomparaison" class="card fadeInBottom">
  <p style="color: #FFFFFF" class="article">

    Le tannage au chrome est la technique la plus répondue mondialement, mais aussi la plus
    dénoncée :<br><br>
    - 85% des peaux tannées dans le monde sont travaillées avec des sels d’aluminium ou de
    chrome.<br>
    - Ces produits chimiques sont très polluants. Certaines tanneries par exemple peuvent rejeter
    jusqu’à 22 000 litres chaque jour de déchets toxiques dans les rivières et cours d’eau.<br>
    - Les ouvriers travaillant souvent sans protections, les produits chimiques peuvent provoquer
    des problèmes de santé. Le Chrome VI par exemple est cancérogène pour les voies respira-
    toires et la cavité nasale.<br>
    - Les cuirs tannés au chrome sont susceptibles de contenir du Chrome VI. Un contact direct
    avec la peau peut être à l’origine de démangeaisons légères jusqu’à des dermatoses plus impor-
    tantes comme l’eczéma de contact et même une surinfection.


  </p>

</div>

</div>
</div>

    </div>



</div>


