<button id="retour"  routerLink="/Projets" class="btn btn-default btn-lg"  ><span class="glyphicon glyphicon-arrow-left"> Retour</span></button>
<header>
  <div id="video"  class="overlay" autoscroll="true">
  </div>
  <video    playsinline controls autoplay muted>
    <source   src="https://github.com/JulesNd/video/blob/master/Nacershoes.ad88788898014b8a0519.mp4?raw=true" type="video/mp4">
  </video>
  <div class="container">
    <div id="Page" >
      Tannage végétal
    </div>
  </div>
</header>

<div class="jumbotron" style="background-color: #FFFFFF"></div>
<div class="content" >
  <div class="wrapper" style="background-color:  rgba(255, 69, 0, 0.89)" >
  <img class="in-left" id="imagetannage" alt="tannage vegetal" src="https://drive.google.com/uc?export=view&id=1YC4LW8_FZM4F3C5MCjgAzjlSdIE5MglZ"  >
  <div class="card in-right" id="cardcommentçamarche">
    <p class="titre">Comment &ccedil;a marche ?</p>
    <p class="article">Le tannage v&eacute;g&eacute;tal est une ancienne technique qui consiste &agrave;
      tanner le cuir &agrave; partir d&rsquo;extraits de plantes connues comme tanins.<br>
      Chaque tanin produit des r&eacute;sultats diff&eacute;rents sur le cuir :  la souplesse, le temps de tannage etc.<br>
      Les principaux extraits proviennent d&rsquo;&eacute;corces d&rsquo;arbres comme le mimosa ou le quebracho. <br>
      Le proc&eacute;d&eacute; est lent compar&eacute; au tannage au chrome.<br>
      Cela est d&ucirc; aux substances naturelles qui sont également biod&eacute;gradables et anallergiques.</p>
  </div>
  </div>

  <div class="jumbotron" style="background-color: #FFFFFF"></div>


  <div class="wrapper" style="background-color:  rgba(255, 69, 0, 0.89)" >

    <img class="" id="Avantage"  alt="tannage vegetal" src="https://drive.google.com/uc?export=view&id=1D4UdAnJ_DOwOaKPv9QqoEVVQfH43e8Ly"  >



<div class="card " id="cardAvantages">
  <p class="titre">Les avantages</p>
  <p class="article">

     Les cuirs en tannage végétal ont une tenue ferme et une meilleure absorption de l’humidité.
    Les teintes naturelles garantissent des couleurs profondes et plus nuancées, en permettant également de bien vieillir avec une jolie patine qui se crée au fil du temps.<br>
    Il s’agit aussi d’un procédé plus sain pour le travailleur puisqu'aucun produit chimique n’est utilisé dans le cas du tannage végétal, mais uniquement des composants naturels.
  </p>
</div>
</div>


  <div class="jumbotron" style="background-color: #FFFFFF"></div>
<div class="wrapper" style="background-color:  rgba(255, 69, 0, 0.89)">

  <img class="in-left" id="compar" alt="tannage vegetal" src="https://drive.google.com/uc?export=view&id=1rflPHWp9aR9QYIJBP6wGJiVyULz9WcKf"  >
  <div class="card " id="cardcomparaison">
    <p class="titre">Et si on les comparait ?</p>
    <p class="article">
      Le tannage au chrome est la technique la plus répandue mondialement, mais aussi la plus dénoncée:<br>
    -85% des peaux tannées dans le monde sont travaillées avec des sels d'aluminium ou de chrome <br>
    -Ces produits chimiques sont très polluants. Certaines tanneries par exemple peuvent rejeter jusqu'à 22 000 litres chaque jour de déchets toxiques dans les rivières
    et les cours d'eaux<br>
    -Les ouvriers travaillant souvent sans protections, les produits chimiques peuvent provoquer des problèmes de santé. Le chrome VI par exemple est cancérogène pour les voies respiratoires
    et la cavité nasale.<br>
    -Les cuirs tannés au chrome sont susceptibles de contenir du chrome VI. Un contact direct avec la peau peut etre à l'origine de démangeaisons légères jusqu'à des dermatoses
    plus importantes comme l'eczéma de contact et meme une surinfection.<br><br>
    Ce type de tannage est toutefois moins couteux et plus rapide au niveau de la préparation de la matière comparé au tannage végètal:<br>
    - Tannage chrome: 7 à 8% plus cher que le cuir non traité. ( P.U/KG = 1$ ). Il faut compter environ 24h pour la préparation d'une peau tannée au chrome<br>
    -Tannage végétal: 20 à 30% plus cher que le cuir non traité.(P.U/KG= 1,8$ à 2,7$ ). Il faut compter plus au moins 1 mois pour la préparation d'une peau tannée
    végètal, selon le type de tanin


  </div>
</div>
  <div   class="jumbotron" style="background-color: #FFFFFF"></div>
  <div class="wrapper">


    <div class="card" id="cardgaranties">
      <div class="writtings">
      <p class="titre writtingstitle" >Les garanties</p>
      <p id="gar" class="article">
        La tannerie s'engage à fournir un certificat garantissant la méthode employée
      </p>
      </div>
    </div>

    <div   class="jumbotron" style="background-color: #FFFFFF"></div>

    <div class="card " id="cardpack">
      <div class="writtings">
      <p class="titre writtingstitle" >Le packaging</p>
      <img  id="PACK" alt="tannage vegetal" src="https://drive.google.com/uc?export=view&id=1RFduJ4zAjbIgKLbK2RPbbELJF4JMgVDN"  >
        <img  id="PACK1" alt="tannage vegetal" src="https://drive.google.com/uc?export=view&id=1OUUxolqqhPbBdMCKPuWMl2nDzbfs2TgA"  >
      </div>
        <p  class="article">
          Nous vous conseillons d'utiliser une boite en carton recyclé et assemblée sans colle pour réduire les déchets
          ainsi que l'utilisation de produits chimiques.
          Nous recommendons également de ne pas utiliser d'étiquettes et handtags, mais plutot d'indiquer
          toutes les informations sur la boite pour limiter les déchets
        </p>


    </div>
  </div>
</div>









