
header {
  position: relative;
  height: auto;
  min-height: 40rem;
  width: 100%;
  overflow: hidden;
  margin-top: 5%;
}


header video {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 90%;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .container {
  position: relative;
  z-index: 2;
}



@media (pointer: coarse) and (hover: none) {
  header {

  }
  header video {
    display: none;
  }
}

.titre{
  font-size: 4rem;
  color: rgba(255, 69, 0, 0.89);
}

.article{
  font-size: 2.5vh;
  margin-top: 5%;

}


#gar{
  margin-top: 2%;
}

#retour{
  margin-top: 1%;
  margin-left: 2%;
}


btn-default {
  background-color: rgba(255, 69, 0, 0.89);
  color:#FFF;
  border-color: rgba(255, 69, 0, 0.89);
  margin-top: 25%;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {
  background-color: rgba(255, 69, 0, 0.89);
  color:#FFF;
  border-color: rgba(255, 69, 0, 0.89);
}
font{
  font-size: 2rem;
}


#chromdesc{
padding: 2%;
background-color: #cccccc;
  color: #FFFFFF;

}
#vegdesc{
padding: 2%;
  background-color: #cccccc;
  color: #FFFFFF;
}

#chrome{
width: 350px;
  height: 350px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
#vegetal{
  width: 350px;
  height: 350px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


#cardcommentçamarche{
  padding: 5%;
  border: none;
  outline: none;
  background-color: #e9ecef;
}
#PACK{
  width: 50%;
  height: auto;
  float: left;
  background-repeat: no-repeat;
}
#PACK1{
  width: 15%;
  height: auto;

  background-repeat: no-repeat;
}

#cardAvantages{
  padding: 5%;
  background-color: #e9ecef;

}
#compar{
  width: 40%;
  height: auto;
  float: left;
  background-repeat: no-repeat;
margin-top: 15%;
  animation-delay: 5ms;
}
#imagetannage{
  width: 40%;
  height: auto;
  float: left;
  background-repeat: no-repeat;
  animation-delay: 5ms;
}
#imagecomparaison{
  width: 40%;
  height: auto;
  float: left;
  background-repeat: no-repeat;
  animation-delay: 5ms;
}

#cardAvantages{
  background-color: #e9ecef;
  padding: 5%;
}
#cardcomparaison{
  padding: 1%;
background-color: #e9ecef;
  height: auto;
}
#cardpack{
  background-color: #e9ecef;
  padding: 1%;
  width: 100%;
  height: auto;


}
#cardgaranties{
  background-color: #e9ecef;
  padding: 1%;
  width: 100%;
  height: auto;
}
.writtings{
  margin-left: 25%;
}
.writtingstitle{
  margin-left: 15%;
}
#Avantage{
  width: 40%;
  height: 5%;
  float: right;
  animation-delay: 4s;
}
#Page{
  font-family: concert, serif;
  font-size: 8vh;
  margin-left: 25%;
  color: white;
  font-weight: 100;
  text-shadow: 0px 0px 5px #ffffff;
  background-color: rgba(255, 255, 255, 0.35);
  margin-top: 15%;
  height: auto;
  text-align: center;
  width: 45%;
}
.glyphicon{
  font-size: 2vh;
}



/**ANIMATIONS ** /

/** FADEIN LEFT **/

@-webkit-keyframes fadeInLeft {
  from {
    opacity:0;
    -webkit-transform: translatex(-10px);
    -moz-transform: translatex(-10px);
    -o-transform: translatex(-10px);
    transform: translatex(-10px);
  }
  to {
    opacity:1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
@-moz-keyframes fadeInLeft {
  from {
    opacity:0;
    -webkit-transform: translatex(-10px);
    -moz-transform: translatex(-10px);
    -o-transform: translatex(-10px);
    transform: translatex(-10px);
  }
  to {
    opacity:1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
@keyframes fadeInLeft {
  from {
    opacity:0;
    -webkit-transform: translatex(-100px);
    -moz-transform: translatex(-100px);
    -o-transform: translatex(-100px);
    transform: translatex(-100px);
  }
  to {
    opacity:1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
.in-left {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-duration:1s;
  animation-delay: 1s;

}



/** FADEIN RIGHT **/

@-webkit-keyframes fadeInRight {
  from {
    opacity:0;
    -webkit-transform: translatex(10px);
    -moz-transform: translatex(10px);
    -o-transform: translatex(10px);
    transform: translatex(10px);
  }
  to {
    opacity:1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
@-moz-keyframes fadeInRight {
  from {
    opacity:0;
    -webkit-transform: translatex(10px);
    -moz-transform: translatex(10px);
    -o-transform: translatex(10px);
    transform: translatex(10px);
  }
  to {
    opacity:1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
@keyframes fadeInRight{
  from {
    opacity:0;
    -webkit-transform: translatex(100px);
    -moz-transform: translatex(100px);
    -o-transform: translatex(100px);
    transform: translatex(100px);
  }
  to {
    opacity:1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
.in-right {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}


.fadeInBottom { animation-name: fadeInBottom }
@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to { opacity: 1 }
}
/**    **/

@media screen and (min-width: 320px) and (max-width:460px ){
  header{
    width: 100%;
    height: auto;
    background-size: 100% auto;
    background-image: url("https://drive.google.com/uc?export=view&id=1u9c5ybKF1wAKHMuw7eIC9n2MHSX-ZuyF");
    background-repeat: no-repeat;
  }

  #imagetannage{
    width: 200px;
    height: 200px;
    float: left;
    background-repeat: no-repeat;

  }


  #Avantage{

    width: 200px;
    height: 200px;
    float: right;
    background-repeat: no-repeat;
    margin-bottom: 50%;

  }
  #Page{
    font-family: concert, serif;
    font-size: 4vh;
    margin-left: 25%;
    color: white;
    font-weight: 100;
    text-shadow: 0px 0px 5px #ffffff;
    background-color: rgba(255, 255, 255, 0.35);
    margin-top: 35%;
    height: auto;
    text-align: center;
    width: 60%;
  }

  #PACK{
    width: 80%;
    height: auto;
    float: left;
    background-repeat: no-repeat;
  }

  .titre{
    font-size: 2rem;
    color: rgba(255, 69, 0, 0.89);
  }

  .article{
    font-size: 1rem;
    margin-top: 5%;

  }
}
