<button id="retour"  routerLink="/Projets" class="btn btn-default btn-lg"  >Retour</button>


<header>
  <div class="overlay" autoscroll="true">

  </div>
  <video playsinline controls autoplay muted>
    <source src="https://github.com/JulesNd/video/blob/master/Nacershoes.ad88788898014b8a0519.mp4?raw=true" type="video/mp4">
  </video>
  <div class="container">
    <div id="Page" >
      Tannage vegetal
    </div>
  </div>
</header>
<div class="jumbotron" style="background-color: #FFFFFF"></div>

<div class="content" >
  <div class="wrapper" style="background-color:  rgba(255, 69, 0, 0.89)" >

  <img class="in-left" id="imagetannage" src="https://drive.google.com/uc?export=view&id=1YC4LW8_FZM4F3C5MCjgAzjlSdIE5MglZ"  >

  <div class="card in-right" id="cardcommentçamarche">
    <p class="titre">Comment &ccedil;a marche ?</p>
    <p class="article">Le tannage v&eacute;g&eacute;tal est une ancienne technique qui consiste &agrave;
      tanner le cuir &agrave; partir d&rsquo;extraits de plantes connues comme tanins.<br>
      Chaque tanin produit des r&eacute;sultats diff&eacute;rents sur le cuir : comme la couleur, la souplesse et le temps de tannage.<br>
      Les principaux extraits proviennent d&rsquo;&eacute;corces d&rsquo;arbres comme le mimosa ou le quebracho. <br>
      Le proc&eacute;d&eacute; est lent compar&eacute; au tannage au chrome.<br>
      Cela est d&ucirc; aux substances naturelles et biod&eacute;gradables, aux qualit&eacute;s anallergiques.</p>
  </div>
  </div>

  <div class="jumbotron" style="background-color: #FFFFFF"></div>


  <div class="wrapper" >

    <img class="in-right" id="Avantage" src="https://drive.google.com/uc?export=view&id=1D4UdAnJ_DOwOaKPv9QqoEVVQfH43e8Ly"  >



<div class="card in-left" id="cardAvantages">
  <p class="titre">Les avantages</p>
  <p class="article">

     Les cuirs en tannage végétal ont une tenue ferme et une meilleure absorption de l’humidité.
    Les teintes naturelles garantissent des couleurs profondes et plus nuancées, en permettant également de bien vieillir car une jolie patine se crée au fil du temps.<br>
    Il s’agit aussi d’un procédé plus sain pour le travailleur car aucun produit chimique n’est utilisé dans le cas du tannage végétal, mais uniquement des composants naturels.
  </p>
</div>
</div>


  <div class="jumbotron" style="background-color: #FFFFFF"></div>

  <img class="in-left" id="imagecomparaison" src="https://drive.google.com/uc?export=view&id=1u9c5ybKF1wAKHMuw7eIC9n2MHSX-ZuyF"  >

  <div class="card in-right" id="cardcomparaison">
    <p class="titre">Comment &ccedil;a marche ?</p>
    <p class="article">Le tannage v&eacute;g&eacute;tal est une ancienne technique qui consiste &agrave;
      tanner le cuir &agrave; partir d&rsquo;extraits de plantes connues comme tanins.<br>
      Chaque tanin produit des r&eacute;sultats diff&eacute;rents sur le cuir : comme la couleur, la souplesse et le temps de tannage.<br>
      Les principaux extraits proviennent d&rsquo;&eacute;corces d&rsquo;arbres comme le mimosa ou le quebracho. <br>
      Le proc&eacute;d&eacute; est lent compar&eacute; au tannage au chrome.<br>
      Cela est d&ucirc; aux substances naturelles et biod&eacute;gradables, aux qualit&eacute;s anallergiques.</p>
  </div>
</div>










