<video id="video-element"  playsinline autoplay muted loop >
  <source src="https://github.com/JulesNd/video/blob/master/Banniere.mp4?raw=true" type="video/mp4">
  Your browser does not support the video tag.


</video>
<div class="container">
  <img   alt="Mon-alma.com , alma , chaussures , filles , garçons , enfants " src="https://drive.google.com/uc?export=view&id=12l6ozHvjjA04eG_s9rB01Gf3jDRm7Fsy">
</div>


<!--  <img id="banner" src="https://github.com/JulesNd/video/blob/master/Bannieregif.gif?raw=true"  alt="gif"/> !-->

