<body>

<div class="jumbotron" >  <h3>Mention légales</h3>   </div>
<div class="mentions">
  <p class="title"  >ALMA  </p>

  <p> Distribué par ACE Trading Company Sarl</p>
  <p>S.a.r.l au capital de 105 000 euros - RCS: B388086282</p>

  <p> Siège Social: 74, Rue Saint Pierre de Vaise - 69009 LYON - France </p>

  <p>Telephone: +33 04.37.64.24.24</p>

  <p> Fournisseur d'hébergement: Squarespace, Inc. 225, Varick Street, 12th floor - NY 10014 - Etats Unis </p>

<br>
  <br>
  <br>
  <br>
  <br>
  <br>


</div>



</body>
