
<img class="float-left , img-fluid" src="" style="padding: 2%">



<div class="jumbotron" style="background-color: rgba(255, 69, 0, 0.89)"> <h2  id="Titre"  style="color: #FFFFFF">Projet Alma planete</h2>    </div>

<h3 >
<div>
  <p> <font>1. La tige: </font> tige en tricot exclusif Alma planète, </p>
  <p>faite à partir de bouteilles recyclées.</p>
  <p>Pour produire une paire de chaussures il nous faut minimum 3 bouteilles en plastique.
  </p>
</div>
<br>

  <div>
  <p> <font>2. La semelle:</font> TPR recyclée et certifiée par Global Recycled Standard.</p>
  <p>(Les details de la composition seront fournis après la confirmation de mise en production).</p>
  </div>

<br>

  <div>
  <p> <font>3. La premiere:</font>  en microfibre antibacérienne et très absorbante. </p>
  </div>

  <br>

<div>
  <p> <font>4. Les lacets:</font> design exclusif Alma planete 100% coton.  </p>
</div>

  <br>

  <div>
  <p> <font>5. L'assemblage: </font>la semelle est piquée sur la tige, sans colle ni solvants.   </p>
  </div>

</h3>
