<button id="retour"  routerLink="/Projets" class="btn btn-default btn-lg"  >
  <span class="glyphicon glyphicon-arrow-left"> retour</span>
</button>
<body>

<!-- Shoe + text !-->

<img id="almaplanete" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques"   src="https://drive.google.com/uc?export=view&id=1I_vJbMVa7qGefVjIPzO6nji76pSS1M6G" >

<div class="row">
  <div   class="column">
    <div  id="chaussure" class="card"   >

      <div class="container-fliud" >
        <div class="wrapper row">
          <div class="preview col-md-6">

            <div class="preview-pic tab-content">
              <div class="tab-pane active" id="pic-1"><img   src="https://drive.google.com/uc?export=view&id=1Acu-BDy4Gs98PjD4Lzo5XN5mYSXY1AzI" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>
              <div class="tab-pane" id="pic-2"><img src="https://drive.google.com/uc?export=view&id=1sbnNQETgr080_kQqeRHIMij6IhfNRJlx" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>
              <div class="tab-pane " id="pic-3"><img src="https://drive.google.com/uc?export=view&id=1ZboR9qCyNyIFWExONkkdk3I0HhIQxQYG" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>
              <div class="tab-pane" id="pic-4"><img src="https://drive.google.com/uc?export=view&id=1vYCIEULVTfyAkQuFmXMFs5kgZDIyxF6w" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>
              <div class="tab-pane " id="pic-5"><img src="https://drive.google.com/uc?export=view&id=1JoUXSyLgL77X5oEU553gXKmYHSG8yted"alt="planete , recyclage , almaplanete , environnemental friendly , plastiques"  /></div>


            </div>
            <ul class="preview-thumbnail nav nav-tabs">
              <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1Acu-BDy4Gs98PjD4Lzo5XN5mYSXY1AzI" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques"  /></a></li>
              <li><a data-target="#pic-2" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1sbnNQETgr080_kQqeRHIMij6IhfNRJlx" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>
              <li class="active"><a data-target="#pic-3" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1ZboR9qCyNyIFWExONkkdk3I0HhIQxQYG" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>
              <li><a data-target="#pic-4" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1vYCIEULVTfyAkQuFmXMFs5kgZDIyxF6w" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>
              <li class="active"><a data-target="#pic-5" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1JoUXSyLgL77X5oEU553gXKmYHSG8yted" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>




            </ul>

          </div>
          <div class="details col-md-6">
            <div class="informations">



              <div class="form-group"  style="margin-top: 10%"   >
                <label style="font-size: 2rem">Pointures</label>
               <br> du 27 au 38

              </div>




            </div>
          </div>
        </div>
      </div>


    </div>

    <!-- Button to Open the Modal -->




  </div>


  <div  class="column">
    <div  id="descriptions" class="card in-right" style="border-color: #ffffff">

      <div class="card-body">

        <h3  >
          <div>
            <p> <font>1. La tige: </font> tige en tricot
              faite à partir de bouteilles recyclées, dessin exclusif <font class="al" style="color: #e3e81d">Alma planète</font>.</p>
            <p>Pour produire une paire de chaussures il nous faut au minimum 3 bouteilles en plastique.
            </p>
            <p>Matière recyclée et certifiée par Global Recycled Standard</p>
          </div>
          <br>

          <div>
            <p> <font>2. La semelle:</font> Semelle bicolore avec un minimum de 15% en TPR recyclé</p>

          </div>

          <br>

          <div>
            <p> <font>3. La premiere:</font>  en microfibre antibacérienne et très absorbante. </p>
          </div>

          <br>

          <div>
            <p> <font>4. Les lacets:</font> design exclusif <font class="al"   style="color: #e3e81d">Alma planète</font> 100% coton.  </p>
          </div>

          <br>

          <div>
            <p> <font>5. L'assemblage: </font>la semelle est piquée sur la tige, sans colle ni solvants.   </p>
          </div>

        </h3>
      </div>


    <button id="montrerlaboite" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
      Montrer la boite
    </button>



    </div>
  </div>

</div>









<!-- The Modal -->
<div class="modal" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">La boite</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">






        <div   class="card"   >

          <div class="container-fliud" >
            <div class="wrapper row">
              <div class="preview col-md-6">

                <div class="preview-pic tab-content">
                  <div class="tab-pane active" id="pic-1a"><img src="//drive.google.com/uc?export=view&id=1AcEw1FdLi63PF3Gh3BfwxqjQiWlNC8Yv" /></div>
                  <div class="tab-pane" id="pic-2a"><img src="//drive.google.com/uc?export=view&id=1cGRVNXlruLi9G7ZrKBH3o2vn64FDb5-j" /></div>



                </div>
                <ul class="preview-thumbnail nav nav-tabs">
                  <li class="active"><a data-target="#pic-1a" data-toggle="tab"><img src="//drive.google.com/uc?export=view&id=1AcEw1FdLi63PF3Gh3BfwxqjQiWlNC8Yv" /></a></li>
                  <li><a data-target="#pic-2a" data-toggle="tab"><img src="//drive.google.com/uc?export=view&id=1cGRVNXlruLi9G7ZrKBH3o2vn64FDb5-j" /></a></li>





                </ul>

              </div>






      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
      </div>

    </div>
  </div>
</div>
    </div>
  </div>
</div>
</body>

<!--

  <iframe name="sayduck3dViewer" style="min-height:450px;min-width:300px;width:60%;height:60%;" src="https://sayduck.com/3d/1urP?background-color=studio&starting-variant=crsqip124cfyd89ct94ml5wmi&" frameborder="0"></iframe>
!-->
