* {
  box-sizing: border-box;
  font-family: concert, serif;
}


#Logoalmaplanete{
  width: 20%;
  height: auto;
}

body {
  font-family: Montserrat, serif;

}
#almaplanete{
  width: 100%;
  height: auto;
  margin-left: 2%;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 50%;
  margin: 0;

}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}










#image{
  height: 100%;
  width: 100%;
  position: relative;



  padding: 2%;
}





.container{
  width: 45%;
  height: 25%;
  margin-left: 5%;
}


h3{
  padding: 4%;
  line-height: 2rem;
  font-family: Montserrat, serif;
  text-space: 4;
  height: 100%;
  float: right;

  position: relative;

}



#Titre {
  font-size: 2rem;
  margin-left: 5px;
}

font{
  color: #e7f038;
}

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 2px; }
.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%; }
.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block; }
.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0; }
.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0; }

.tab-content {
  overflow: hidden; }
.tab-content img {
  width: 100%;
  -webkit-animation-name: opacity;
  animation-name: opacity;
  -webkit-animation-duration: .3s;
  animation-duration: .3s; }



.preview-pic{
 height: 340px;
  width: 490px;
}


.card {
  margin-top: 40px;
  background-color: #FFFFFF;
  padding: 3em;
  line-height: 1.5em;
 border: none;
  box-shadow: none;

}

#chaussure{
  width: 80%;
  height: 80%;
  margin-left: 20%;
}
#descriptions{
  width: 80%;
  background-color: #ffffff;

  -webkit-box-shadow: 0px 0px 4px 3px #e7f038;
  -moz-box-shadow: 0px 0px 4px 3px #e7f038;
  box-shadow: 0px 0px 4px 3px #e7f038;

}





p{

}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }

.details {

}

.product-title, .price, .sizes, .colors {
  text-transform: UPPERCASE;
  font-weight: bold; }

.checked, .price span {
  color: #ff9f1a; }

.product-title, .rating, .product-description, .price, .vote, .sizes {
  margin-bottom: 15px; }

.product-title {
  margin-top: 0; }

.size {
  margin-right: 10px; }
.size:first-of-type {
  margin-left: 40px; }

.color {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
  height: 2em;
  width: 2em;
  border-radius: 2px; }
.color:first-of-type {
  margin-left: 20px; }

.add-to-cart, .like {
  background: #e7f038;
  padding: 1.2em 1.5em;
  border: none;
  text-transform: UPPERCASE;
  font-weight: bold;
  color: #fff;
  -webkit-transition: background .3s ease;
  transition: background .3s ease; }
.add-to-cart:hover, .like:hover {
  background: #e7f038;
  color: #fff; }

.not-available {
  text-align: center;
  line-height: 2em; }
.not-available:before {
  font-family: fontawesome;
  content: "\f00d";
  color: #fff; }

.orange {
  background: #ff9f1a; }

.green {
  background: #85ad00; }

.blue {
  background: #0076ad; }

.tooltip-inner {
  padding: 1.3em; }

@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }




.action{
  margin-left: 50%;
  margin-top: 50%;
}

#retour{


}



.btn-primary{
  background-color:#e7f038;
  outline-color: #e7f038;
  border: none;
}


#retour{
  float: left;
}


btn-default

{

  background-color: rgba(255, 69, 0, 0.89);

  color:#FFF;

  border-color: rgba(255, 69, 0, 0.89);

  margin-top: 25%;

}


.jumbotron{
  background-color: #e7f038;
  position: absolute;
  width: 100%;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {



  background-color: rgba(255, 69, 0, 0.89);

  color:#FFF;

  border-color: rgba(255, 69, 0, 0.89);

}

#montrerlaboite{
margin-left: 5%;
  width: 190px;
  height:60px;
  margin-top: 0;
}


@-webkit-keyframes fadeInRight {
  from {
    opacity:0;
    -webkit-transform: translatex(10px);
    -moz-transform: translatex(10px);
    -o-transform: translatex(10px);
    transform: translatex(10px);
  }
  to {
    opacity:1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
@-moz-keyframes fadeInRight {
  from {
    opacity:0;
    -webkit-transform: translatex(10px);
    -moz-transform: translatex(10px);
    -o-transform: translatex(10px);
    transform: translatex(10px);
  }
  to {
    opacity:1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
@keyframes fadeInRight{
  from {
    opacity:0;
    -webkit-transform: translatex(100px);
    -moz-transform: translatex(100px);
    -o-transform: translatex(100px);
    transform: translatex(100px);
  }
  to {
    opacity:1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
.in-right {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-duration:1s;
  animation-delay: 1s;
}
