
<div class="container-fluid"  >
  <img  id="logo" alt="Coups de coeur , espace professionnel" src="https://drive.google.com/uc?export=view&id=1foewSO28-mBrLgtuhYB7QtmvHwTEnvTR">

  <p class="text" id="welcome" *ngIf="(user)">
    Connecté(e)
    <strong> {{ user?.displayName }}</strong>
    <button class="btn btn-default btn-lg text " *ngIf="user" (click)="logout()">Se deconnecter</button>
    <button routerLink="/Accueil" class="btn btn-default btn-lg text">Mon alma</button>
  </p>
</div>
<button id="retour"  routerLink="/Projets" class="btn btn-default btn-lg"  >
  <span class="glyphicon glyphicon-arrow-left"> <div style="font-family: concert, serif"> Retour</div></span>
</button>
<body>

<!-- Shoe + text !-->

<img id="almaplanete" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques"   src="https://drive.google.com/uc?export=view&id=1I_vJbMVa7qGefVjIPzO6nji76pSS1M6G" >

<main>
  <article> <font class="titre"> La tige </font>
    <div id="latige" class="ecrits">
      <p>  Tige en tricot
        faite à partir de bouteilles recyclées, dessin exclusif <font class="al" style="color: #e3e81d">Alma planète</font>.</p>
      <p>Pour produire une paire de chaussures il nous faut au minimum 3 bouteilles en plastique.
      </p>
      <p>Matière recyclée et certifiée par Global Recycled Standard.</p>
    </div></article>



  <article>
    <div>
      <font class="titre"> La semelle</font>
      <div class="ecrits">
        <p style="margin-left:12%"> Semelle en TPR surpiquée</p>
      </div>
  </div>
  </article>



  <article>
    <div>

      <font class="titre"> La première</font>
      <div class="ecrits">
        <p style="margin-right: 20%">
          Elle est amovible pour simplifier la séparation de matières pendant le recyclage. </p>
      </div>
    </div>
  </article>



  <article>
    <font class="titre"> Les lacets</font>
    <div class="ecrits" id="lacets">
      <p>  Design exclusif <font class="al"   style="color: #e3e81d">Alma planète</font> 100% coton.  </p>
    </div>
  </article>



  <article>
    <font class="titre"> L'assemblage </font>
    <div class="ecrits">
      <p> La semelle est surpiquée sur la tige pour un maintien optimal.   </p>
    </div>
  </article>

</main>

<div class="row">

  <div   class="column">

    <div  id="chaussure" class="card"   >
      <div  id="separation1" class="jumbotron">
        <div id="Page1">Tricot recyclé Bébé
        </div>
      </div>
      <div class="container-fliud" >
        <div class="wrapper row">
          <div class="preview col-md-6">



            <div class="preview-pic tab-content">
              <div class="informations">

                <div class="form-group"  style="margin-top: 10%; margin-left: 80%"   >
                  <label style="font-size: 2rem">Pointures</label>
                  <br> du 19 au 24
                </div>
              </div>
              <div class="tab-pane active" id="pic-1a"><img   src="https://drive.google.com/uc?export=view&id=1psbT-zMAbLxfb44iX7pNIjONi8uoydIv" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>
              <div class="tab-pane" id="pic-2a"><img src="https://drive.google.com/uc?export=view&id=1evKTik2t0hyCYJITHv9TKa4EaH8-CpsF" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>
              <div class="tab-pane " id="pic-3a"><img src="https://drive.google.com/uc?export=view&id=1QVuICWEP51W3cftvCosVvp-X08t7CsFt" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>


            </div>
            <ul class="preview-thumbnail nav nav-tabs">
              <li class="active"><a data-target="#pic-1a" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1psbT-zMAbLxfb44iX7pNIjONi8uoydIv" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques"  /></a></li>
              <li><a data-target="#pic-2a" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1evKTik2t0hyCYJITHv9TKa4EaH8-CpsF" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>
              <li class="active"><a data-target="#pic-3a" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1QVuICWEP51W3cftvCosVvp-X08t7CsFt" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>




            </ul>


          </div>
        </div>
      </div>
      <div  id="separation2" class="jumbotron">
        <div id="Page2">Tricot recyclé junior
        </div>
      </div>
      <div class="container-fliud" >
        <div class="wrapper row">
          <div class="preview col-md-6">



            <div class="preview-pic tab-content">
              <div class="informations">

                <div class="form-group"  style="margin-top: 0; margin-left: 80%"   >
                  <label style="font-size: 2rem">Pointures</label>
                  <br> du 28 au 37
                </div>

              </div>
              <div class="tab-pane active" id="pic-1"><img   src="https://drive.google.com/uc?export=view&id=1Acu-BDy4Gs98PjD4Lzo5XN5mYSXY1AzI" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>
              <div class="tab-pane" id="pic-2"><img src="https://drive.google.com/uc?export=view&id=1sbnNQETgr080_kQqeRHIMij6IhfNRJlx" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>

              <div class="tab-pane" id="pic-4"><img src="https://drive.google.com/uc?export=view&id=1vYCIEULVTfyAkQuFmXMFs5kgZDIyxF6w" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>


            </div>
            <ul class="preview-thumbnail nav nav-tabs">
              <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1Acu-BDy4Gs98PjD4Lzo5XN5mYSXY1AzI" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques"  /></a></li>
              <li><a data-target="#pic-2" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1sbnNQETgr080_kQqeRHIMij6IhfNRJlx" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>
              <li><a data-target="#pic-4" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1vYCIEULVTfyAkQuFmXMFs5kgZDIyxF6w" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>




            </ul>

          </div>

        </div>
      </div>
      <div  id="separation3" class="jumbotron">
        <div id="Page3">
          Coton recyclé
        </div>
      </div>
      <div class="container-fliud" >
        <div class="wrapper row">
          <div class="preview col-md-6">

            <div class="preview-pic tab-content">
              <div class="informations">

                <div class="form-group"  style="margin-top: 0; margin-left: 80%"   >
                  <label style="font-size: 2rem">Pointures</label>
                  <br> du 28 au 37
                </div>

              </div>

              <div class="tab-pane active" id="pic-1b"><img   src="https://drive.google.com/uc?export=view&id=1LYuROvVUYvMBSUohNKv09fTeITyb6ywh" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>
              <div class="tab-pane" id="pic-2b"><img src="https://drive.google.com/uc?export=view&id=13GruUbP2XtjjVRWQI0wfC-aSzHk0etrx" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>
              <div class="tab-pane " id="pic-3b"><img src="https://drive.google.com/uc?export=view&id=1Fs29aSYcB9Y1Pcc52uvXqcxG7CuFt9EP" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>
              <div class="tab-pane " id="pic-4b"><img src="https://drive.google.com/uc?export=view&id=1MkSkQ3ZsrFQHv9pGwq_ZJK5-cSEJZdbA" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></div>


            </div>
            <ul class="preview-thumbnail nav nav-tabs">
              <li class="active"><a data-target="#pic-1b" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1LYuROvVUYvMBSUohNKv09fTeITyb6ywh" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques"  /></a></li>
              <li><a data-target="#pic-2b" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=13GruUbP2XtjjVRWQI0wfC-aSzHk0etrx" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>
              <li class="active"><a data-target="#pic-3b" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1Fs29aSYcB9Y1Pcc52uvXqcxG7CuFt9EP" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>
              <li class="active"><a data-target="#pic-4b" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1MkSkQ3ZsrFQHv9pGwq_ZJK5-cSEJZdbA" alt="planete , recyclage , almaplanete , environnemental friendly , plastiques" /></a></li>




            </ul>

          </div>
        </div>
      </div>

    </div>

    <!-- Button to Open the Modal -->




  </div>





</div>

<div  id="separation" class="jumbotron">
  <div id="Page">Le packaging
  </div>
</div>

<img class="boite" src="//drive.google.com/uc?export=view&id=1AcEw1FdLi63PF3Gh3BfwxqjQiWlNC8Yv"  alt="boite,almaplanete,recyclage"/>
<img class="boite" src="//drive.google.com/uc?export=view&id=1cGRVNXlruLi9G7ZrKBH3o2vn64FDb5-j"  alt="boite,alamaplanete,recyclage"/>
</body>

<!--

  <iframe name="sayduck3dViewer" style="min-height:450px;min-width:300px;width:60%;height:60%;" src="https://sayduck.com/3d/1urP?background-color=studio&starting-variant=crsqip124cfyd89ct94ml5wmi&" frameborder="0"></iframe>
!-->
