.container-fluid{
  background-color: #002147;
  width: 100%;
  height: auto;
  margin: 0;

}
p{
  color: white;
}
#Page{
  font-family: concert, serif;
  font-size: 3.5vh;
  margin-left: 42%;
  font-weight: 100;
  text-shadow: 0px 0px 5px #ffffff;
}
#welcome{

  float: right;
  font-family: concert, serif;
  font-size: 2.5vh;
}

#logo{
  width: 10%;
  height: auto;
  float: left;
}
strong{
  margin: 2%;
}
#retour{
  color: #222222;
}
#retour:hover{
  color: #ffffff;
}


.btn-default{
  float: bottom;
  color: white;
}
.btn-default:hover{
  background-color: #ffffff;
  box-shadow: 0 5px 15px #ffffff;
  border: none!important;
  outline: none!important;
  color: #002147; ;
}
.boite{
  width: 30%;
  height: auto;
  margin-left: 12.5%;
  margin-top: 5%;
}

.ecrits{
  margin-top: 1%;
  font-size: 2.5vh;
  margin-left: 25%;
}

#pic-1 , #pic-2 , #pic-3 , #pic-3 , #pic-4 , #pic-5  {
  width: 82%;
  height: auto;
}

h3{
  font-size: 3vh;
}

.titre{
  font-size: 4vh;
 margin-bottom: 5%;
  margin-left: 40%;
  color: #ffffff;

  font-weight: bold;
}
.al{

  background: linear-gradient(to right, #30CFD0 0%, #e3e81d 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

.informations{
  margin-left: 0;
}


#separation1 , #separation2 , #separation3{
  width: 50%;
  margin-left: 0;
  margin-top: 5%;
  background-color: #759F9E;
  position: relative;
}
#Page1 , #Page2 , #Page3
{font-family: concert, serif;
  font-size: 3.5vh;
  margin-left: 5%;
  color: white;
  font-weight: 100;
  text-shadow: 0px 0px 5px #ffffff;
}

#separation{
  width: 73%;
  margin-left: 12%;
  margin-top: 5%;
  background-color: #759F9E;
  position: relative;
}

.jumbotron{
  background-color: #759F9E;
}


#Page{
  font-family: concert, serif;
  font-size: 3.5vh;
  margin-left: 35%;
  color: white;
  font-weight: 100;
  text-shadow: 0px 0px 5px #ffffff;
}

#Logoalmaplanete{
  width: 20%;
  height: auto;
}

body {
  font-family: concert, serif;

}
#almaplanete{
  width: 100%;
  height: auto;
  margin-left: 0;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 100%;
  margin: 0;

}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #f1f1f1;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}








#image{
  height: 100%;
  width: 100%;
  position: relative;



  padding: 2%;
}




.container{
  width: 45%;
  height: 25%;
  margin-left: 5%;
}


h3{
  padding: 4%;
  line-height: 2rem;
  font-family: Montserrat, serif;
  text-space: 4;
  height: 100%;
  float: right;

  position: relative;

}



#Titre {
  font-size: 2rem;
  margin-left: 5px;
}

font{
  color: #e7f038;
}

#maroc{
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.68);
}

.preview-thumbnail.nav-tabs {
  border: none;
  margin-top: 5%; }
.preview-thumbnail.nav-tabs li {
  width: 18%;
  margin-right: 2.5%; }
.preview-thumbnail.nav-tabs li img {
  max-width: 100%;
  display: block; }
.preview-thumbnail.nav-tabs li a {
  padding: 0;
  margin: 0; }
.preview-thumbnail.nav-tabs li:last-of-type {
  margin-right: 0; }

.tab-content {
  overflow: hidden; }
.tab-content img {
  width: 100%;
}


.preview-pic{
 height: 340px;
  width: 490px;
}


.card {
  margin-top: 40px;
  background-color: #FFFFFF;
  padding: 3em;
  line-height: 1.5em;
 border: none;
  box-shadow: none;

}

#latige{
  margin-left: 5%;
}
#lacets{
  margin-left: 30%;
}

#pic-1a , #pic-2a , #pic-3a{
  width: 70%;
  height: auto;
  margin-top: 10%;
}

#pic-1b , #pic-2b , #pic-3b , #pic-4b{
  width: 70%;
  height: auto;
  margin-top: 15%;
}



#chaussure{
  width: 80%;
  height: 80%;
  margin-left: 28%;
}
#descriptions{
  width: 40%;
  margin-left: 30%;
  background-color: #ffffff;

  -webkit-box-shadow: 0px 0px 4px 3px #759F9E;
  -moz-box-shadow: 0px 0px 4px 3px #759F9E;
  box-shadow: 0px 0px 4px 3px #759F9E;

}


main {
  width: 100%;
  margin: 60px auto;
  padding: 0 20px;
  margin-left: 8%;
  display: grid;
  /* Define Auto Row size */
  grid-auto-rows: auto;
  /*Define our columns */
  grid-template-columns: repeat(auto-fill, minmax(80%, 1fr));
  grid-gap: 1em;
  column-gap: 0;
}

article {
  border-radius: 10px;
  margin-left: 15%;
  color: #fff;
  width: 58%;
  height: auto;
}

article:nth-child(odd) {
  background-color: #759F9E;
}

article:nth-child(even) {
  background-color: lightgrey;
}


p{

}

@media screen and (min-width: 997px) {
  .wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; } }

.details {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.colors {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1; }



@-webkit-keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes opacity {
  0% {
    opacity: 0;
    -webkit-transform: scale(3);
    transform: scale(3); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }




.action{
  margin-left: 50%;
  margin-top: 50%;
}




.btn-primary{
  background-color:#e7f038;
  outline-color: #e7f038;
  border: none;
}


#retour{
  float: left;
}


btn-default

{

  background-color: rgba(255, 69, 0, 0.89);

  color:#FFF;

  border-color: rgba(255, 69, 0, 0.89);

  margin-top: 25%;

}


.jumbotron{
  background-color: #e7f038;
  position: absolute;
  width: 100%;
}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {



  background-color: rgba(255, 69, 0, 0.89);

  color:#FFF;

  border-color: rgba(255, 69, 0, 0.89);

}

#montrerlaboite{
margin-left: 5%;
  width: 190px;
  height:60px;
  margin-top: 0;
  background-color: #759F9E;
}


@-webkit-keyframes fadeInRight {
  from {
    opacity:0;
    -webkit-transform: translatex(10px);
    -moz-transform: translatex(10px);
    -o-transform: translatex(10px);
    transform: translatex(10px);
  }
  to {
    opacity:1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
@-moz-keyframes fadeInRight {
  from {
    opacity:0;
    -webkit-transform: translatex(10px);
    -moz-transform: translatex(10px);
    -o-transform: translatex(10px);
    transform: translatex(10px);
  }
  to {
    opacity:1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
@keyframes fadeInRight{
  from {
    opacity:0;
    -webkit-transform: translatex(100px);
    -moz-transform: translatex(100px);
    -o-transform: translatex(100px);
    transform: translatex(100px);
  }
  to {
    opacity:1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
.in-right {
  -webkit-animation-name: fadeInRight;
  -moz-animation-name: fadeInRight;
  -o-animation-name: fadeInRight;
  animation-name: fadeInRight;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-duration:1s;
  animation-delay: 1s;
}
.glyphicon{
  font-size: 2vh;
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {




  #separation1 , #separation2{
    width: 70%;
    margin-left: 0;
    margin-top: 5%;
    background-color: #759F9E;
    position: relative;
  }
  #Page1 , #Page2
  {font-family: concert, serif;
    font-size: 3.5vh;
    margin-left: 5%;
    color: white;
    font-weight: 100;
    text-shadow: 0px 0px 5px #ffffff;
  }

  .titre{
    margin-left: 30%;
  }

  .ecrits{

    margin-left: 15%;
  }

  main {
    width: 100%;
    margin: 10px auto;
    padding: 0 20px;

    display: grid;
    /* Define Auto Row size */
    grid-auto-rows: auto;
    /*Define our columns */
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    grid-gap: 1em;
    column-gap: 0;
  }

  article {
    border-radius: 10px;
    margin-left: 0;
    color: #fff;
    width: 70%;
    height: auto;
  }

  article:nth-child(odd) {
    background-color: #759F9E;
  }

  article:nth-child(even) {
    background-color: #afbe29;
  }



  .preview-pic{
    width: 150%;
    height: auto;
  }
  #chaussure{
    margin-left: -5%;
  }
  #descriptions{
    margin-left: 10%;
  }

  .preview-thumbnail.nav-tabs {
    border: none;
    margin-top: 2px; }
  .preview-thumbnail.nav-tabs li {
    width: 18%;
    margin-right: 2.5%; }
  .preview-thumbnail.nav-tabs li img {
    max-width: 100%;
    display: block; }
  .preview-thumbnail.nav-tabs li a {
    padding: 0;
    margin: 0; }
  .preview-thumbnail.nav-tabs li:last-of-type {
    margin-right: 0; }

}
