




<app-slider></app-slider>


<!-- LISTE DES ARTICLES -->
<div class="wrapper">
  <div class="desc">
    <div class="jumbotron " id="jumbtext">

    <div class="snow" id="text">
      <div class="snowflakes"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
     <div id="Explorer"> PRÊTS À EXPLORER
      LA NOUVELLE COLLECTION AUTOMNE / HIVER 2019</div>
    </div>
    </div>
    <app-articles></app-articles>
  </div>
  <!--    ---------------------------   -->




</div>

<div class="container">
<img class="d-block w-100" id="notrehistoire"  src="https://drive.google.com/uc?export=view&id=1nLq5QUubr5VnFRgx18ZXdT6govi35MjD">
  <button routerLink="/La marque" class="btn button glow-button"> <div class="writ"> L'univers Alma </div>   </button>
</div>


<div class="jumbotron-fluid" style="margin-bottom: 5%">
<div class="jumbotron" style="background-color: #e7f038; color: #FFFFFF">
  <div id="suiveznous" > Suivez nous sur Instagram  </div>
</div>
<a href="https://www.instagram.com/almafolie/"  target="_blank"   >
<div class="row " style="width: 100% ; margin-top: 2%; margin-left: 4%">



  <div >
    <img id="ig1" src="https://drive.google.com/uc?export=view&id=1OlwCcCtd88tOIlK00goMfaneuROcDbzP"  >
  </div>

  <div >
    <img id="ig2"  src="https://drive.google.com/uc?export=view&id=1kQdMOi6Jw1_eUmTvvyO71gHoVvpp1ugC" >
  </div>


  <div    >
    <img id="ig3" src="https://drive.google.com/uc?export=view&id=1Nqzwb-W-R2cRbKN8ZK86hVrVaB9OxFfG"  >
  </div>

  <div    >
    <img  id="ig4" src="https://drive.google.com/uc?export=view&id=10Dy5h-xLnIMM4IPCsOy4Hmo-1Jd6Khhi"  >
  </div>

  <div    >
    <img  id="ig5"   src="https://drive.google.com/uc?export=view&id=1R7qAu1iUMI-Ms699wOg_f6RgE3ztOM5J"  >
  </div>




</div>
</a>
</div>




