<!-- SLIDESHOW-->



<app-slider></app-slider>


<!-- LISTE DES ARTICLES -->
<div class="wrapper">
  <div class="desc">
    <div class="jumbotron" id="jumbtext">
    <div  class="line-1 anim-typewriter"  id="text">
      PRETS A  EXPLORER
      LA NOUVELLE COLLECTION AUTOMNE / HIVER 2019
    </div>
    </div>
    <app-articles></app-articles>
  </div>
  <!--    ---------------------------   -->




</div>


<app-histoireimage></app-histoireimage>



<div class="jumbotron-fluid" style="margin-bottom: 5%">
<div class="jumbotron">
  <div id="suiveznous" class="line-1 anim-typewriter2"> Suivez nous sur Instagram </div>
</div>
<a href="https://www.instagram.com/almafolie/"  target="_blank"   >
<div class="row " style="width: 100% ; margin-top: 2%; margin-left: 4%">



  <div >
    <img id="ig1" src="//drive.google.com/uc?export=view&id=1OlwCcCtd88tOIlK00goMfaneuROcDbzP"  >
  </div>

  <div >
    <img id="ig2"  src="//drive.google.com/uc?export=view&id=1kQdMOi6Jw1_eUmTvvyO71gHoVvpp1ugC" >
  </div>


  <div    >
    <img id="ig3" src="//drive.google.com/uc?export=view&id=1Nqzwb-W-R2cRbKN8ZK86hVrVaB9OxFfG"  >
  </div>

  <div    >
    <img  id="ig4" src="//drive.google.com/uc?export=view&id=10Dy5h-xLnIMM4IPCsOy4Hmo-1Jd6Khhi"  >
  </div>

  <div    >
    <img  id="ig5"   src="//drive.google.com/uc?export=view&id=1R7qAu1iUMI-Ms699wOg_f6RgE3ztOM5J"  >
  </div>




</div>
</a>
</div>




<!-- J'ai changé le style du bg-light dans bootstrap.css pour que le footer soit Jaune (#e7f038) !-->

<footer id="sticky-footer" class="py-4 bg-light text-white-50" >

</footer>
