
#jumbtext{
background-color: #e7f038;
  color: #FFFFFF;

}

.container{
  width: 110%;
  height: 50%;
  position: relative;
}

#Explorer{
  margin-left: 5%;
  font-size: 3.5vh;
  color: #fff;
  font-weight: 500;
}

#suiveznous{
  font-weight: 400;


}

#notrehistoire{
  width: 110%;
  height: auto;
  margin: 0;
}
.container .btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


.writ{
  color: #fff;
  text-shadow:
    0 0 5px #e8eb38,
    0 0 10px #e8eb38,
    0 0 20px #e8eb38,
    0 0 40px #e8eb38,
    0 0 80px #e8eb38,
    0 0 90px #e8eb38,
    0 0 100px #e8eb38,
    0 0 150px #e8eb38;
  font-size: 4vh;
  font-weight: 100;
}

.button {
  float: right;

  color: #e7f038;
  -webkit-box-shadow: 0px 0px 5px 2px #e8eb38;
  -moz-box-shadow: 0px 0px 5px 2px #e8eb38;
  box-shadow: 0px 0px 5px 2px #e8eb38;
  padding: 15px 40px;
  border-radius: 20px;
  transition: all 0.2s ease-in-out;
}

.glow-button:hover {
  color: #e7f038;
  -webkit-box-shadow: 0px 0px 5px 5px #e8eb38;
  -moz-box-shadow: 0px 0px 5px 5px #e8eb38;
  box-shadow: 0px 0px 5px 5px #e8eb38;
}



/** MOBILE **/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  img{


    width: 31%;
    height: 70%;
    margin-left: 35%;
    margin-top: 0.5%;
  }
  #text{
    margin-left: 10%;
    font-size: 1.5em;
  }
  #ig1{

    width: 70px;
    height: 70px;
    margin-left: 5%;

  }
  #ig2{

    width: 70px;
    height: 70px;
    margin-left: 5%;
    margin-top: 30%;
  }
  #ig3{

    width: 70px;
    height: 70px;
    margin-left: 2%;

  }
  #ig4{

    width: 70px;
    height: 70px;
    margin-left: 1%;
    margin-top: 30%;
  }
  #ig5{

    width: 70px;
    height: 70px;
    margin-left: 1%;
  }
  #suiveznous{
    font-size: 2rem;
    margin-left: 25%;
  }
  #jumbhist{
    width: 400px;
    height: 200px;
    background-size: 400px 200px;
    background-repeat: no-repeat;

  }

  #histoireButton{
    width: 135px;
    height: 50px;
    margin-left: 30%;
    margin-top: 15%;
  }

  .wrapper{
    margin-top: 1%;
  }

  #Explorer{
    font-size: 2vh;
  }




}
/** ---------- **/

/** Tablet **/
@media screen and (min-width: 500px) and (max-width: 900px) {


  #text{
    margin-left: 25%;
    font-size: 2em;

  }

  #ig1{

    width: 105px;
    height: 105px;
    margin-left: 5%;

  }
  #ig2{

    width: 105px;
    height: 105px;
    margin-left: 5%;
    margin-top: 30%;
  }
  #ig3{

    width: 105px;
    height: 105px;
    margin-left: 2%;

  }
  #ig4{

    width: 105px;
    height: 105px;
    margin-left: 1%;
    margin-top: 30%;
  }
  #ig5{

    width: 105px;
    height: 105px;
    margin-left: 1%;
  }

  .jumbotron{
    margin-top: 0;
    width: 100%;
    height: auto;


  }

  #histoireButton{
    width: 250px;
    height: 100px;
    margin-left: 30%;
    margin-top: 20%;
  }



}

/**    **/
@media only screen and (min-width: 1900px) {
  #ig1{

    width: 800px;
    height: 800px;
    margin-left: 5%;

  }
  #ig2{

    width: 800px;
    height: 800px;
    margin-left: 5%;
    margin-top: 30%;
  }
  #ig3{

    width: 800px;
    height: 800px;
    margin-left: 2%;

  }
  #ig4{

    width: 800px;
    height: 800px;
    margin-left: 1%;
    margin-top: 30%;
  }
  #ig5{

    width: 800px;
    height: 800px;
    margin-left: 1%;
  }

}

@media only screen and (min-width: 901px) {

  #ig1{

    width: 240px;
    height: 240px;
    margin-left: 5%;

  }
  #ig2{

    width: 240px;
    height: 240px;
    margin-left: 5%;
    margin-top: 30%;
  }
  #ig3{

    width: 240px;
    height: 240px;
    margin-left: 2%;

  }
  #ig4{

    width: 240px;
    height: 240px;
    margin-left: 1%;
    margin-top: 30%;
  }
  #ig5{

    width: 240px;
    height: 240px;
    margin-left: 1%;
  }

  .jumbotron{
    background-color: #e8eb38;
    color: #FFFFFF;
  }

  #suiveznous{
    font-size: 3.5vh;
    margin-left: 37%;

  }
  #jumbhist{
    width: 100%;
    height: 700px;
    background-size: 100% 100%;
    background-repeat: no-repeat;


  }
  #histoireButton{
    width: 250px;
    height: 100px;
    margin-left: 40%;
    margin-top: 15%;
  }
  #text{
    margin-left: 15%;
    font-size: 2.5vh;
  }


}

@media only screen and (min-width: 864px) and (max-width: 900px){

  #ig1{

    width: 220px;
    height: 220px;
    margin-left: 5%;

  }
  #ig2{

    width: 220px;
    height: 220px;
    margin-left: 5%;
    margin-top: 30%;
  }
  #ig3{

    width: 220px;
    height: 220px;
    margin-left: 2%;

  }
  #ig4{

    width: 220px;
    height: 220px;
    margin-left: 1%;
    margin-top: 30%;
  }
  #ig5{

    width: 220px;
    height: 220px;
    margin-left: 1%;
  }

  .jumbotron{
    background-color: #e8eb38;
    color: #FFFFFF;
  }

  #suiveznous{
    font-size: 3.5vh;
    margin-left: 37%;

  }
  #jumbhist{
    width: 100%;
    height: 700px;
    background-size: 100% 100%;
    background-repeat: no-repeat;

  }
  #histoireButton{
    width: 250px;
    height: 100px;
    margin-left: 40%;
    margin-top: 15%;
  }
  #text{
    margin-left: 15%;
    font-size: 2.5vh;
  }
}
* {
  box-sizing: border-box;
}

h1{
  margin-left: 38%;
}
.jumbotron-fluid{
  margin-top: 5%;
}
a:hover{
 background-color: #e3e81d;
}
.column {
  float: left;
  width: 20.33%;
  margin-left: 1%;
}
/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;


}

.insta{
  margin-left: auto;
  margin-right: auto;
  display: block;
  margin-bottom: 2%;
  width: 260px;
  height: 400px;
  webkit-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.55);
}

.insta:hover {
  webkit-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.55);
  -moz-box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.55);
  box-shadow: 0px 0px 9px 2px rgba(0, 0, 0, 0.55);
}

.container1{
  width: 85%;
  margin-right: auto;
  margin-left: auto;
  display: block;
}

.container1>div{
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.container1 img{
  width: 98%;
  height: 100%;
  object-fit: cover;
  margin: 0 auto;
  transition: all .4s;
}
.container1 img:hover{
  opacity: .7;
  transform: scale(1.06);
}
.container1{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-auto-rows: 150px;
  grid-gap: 4px;
  grid-auto-flow: dense;
}
.vertical{
  grid-column: auto / span 2;
}
.horisontal{
  grid-row: auto / span 2;
}
.big{
  grid-column: auto / span 2;
  grid-row: auto / span 2;
}
