




<app-slider></app-slider>

<span class="likebtn-wrapper" data-theme="heartcross" data-lang="fr" data-ef_voting="push" data-rich_snippet="true" data-identifier="item_1" data-show_like_label="false" data-dislike_enabled="false" data-icon_dislike_show="false" data-voting_frequency="1" data-counter_frmt="space" data-counter_zero_show="true"></span>
<script>(function(d,e,s){if(d.getElementById("likebtn_wjs"))return;a=d.createElement(e);m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");</script>

<!-- LISTE DES ARTICLES -->
<div class="wrapper">
  <div class="desc">
    <div class="jumbotron " id="jumbtext">

    <div class="snow" id="text">
      <div class="snowflakes"><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i><i></i></div>
     <div id="Explorer"> PRÊTS À EXPLORER
      LA NOUVELLE COLLECTION AUTOMNE / HIVER 2019</div>
    </div>
    </div>
    <app-articles></app-articles>
  </div>
  <!--    ---------------------------   -->




</div>

<div class="container">
<img class="d-block w-100" id="notrehistoire" alt="Histoire , enfants , tipie , filles , garçons , fun "  src="https://drive.google.com/uc?export=view&id=1nLq5QUubr5VnFRgx18ZXdT6govi35MjD">
  <button routerLink="/La marque" class="btn button glow-button"> <div class="writ"> L'univers Alma </div>   </button>
</div>


<div class="jumbotron-fluid" style="margin-bottom: 5%">
<div class="jumbotron" style="background-color: #e7f038; color: #FFFFFF">
  <div id="suiveznous" > Suivez nous sur Instagram  </div>
</div>
<a href="https://www.instagram.com/almafolie/"  target="_blank"   >
<div class="row " style="width: 100% ; margin-top: 2%; margin-left: 7%">

  <div id="instafeed"></div>




</div>
</a>
</div>




