<!--
<img  src="https://drive.google.com/uc?export=view&id=13jFLAALJExZA1hdBTipXt33_GyOHHzWq" id="alma">

<div class="jumbotron" >  <h3>Retrouvez nos chaussures dans les points de vente !</h3>   </div>

<div style="margin-left: 20%">


<a href="https://www.besson-chaussures.com/"  target="_blank" >
  <img   class="box"  id="besson" alt="Besson , Chaussures , Hommes , Femmes , Enfants , Filles , Garçons , Bébé"  src="https://drive.google.com/uc?export=view&id=111pDdAg9dAt2qdENhYWAfu0qutGcJ7h2">
</a>


<a href="https://www.chaussexpo.fr/" target="_blank" >
  <img   class="box" alt="Chaussexpo , Chaussures , Hommes , Femmes , Enfants , Filles , Garçons , Bébé" id="chaussexpo" src="https://drive.google.com/uc?export=view&id=14qyYt2MzZrMtzGtwJtSw9207d4fcVM8-">
</a>

  <a href="https://www.mano.be/" target="_blank" >
    <img   class="box" alt="Mano , Chaussures , Hommes , Femmes , Enfants , Filles , Garçons , Bébé" id="Mano" src="https://drive.google.com/uc?export=view&id=1O8pc-brLYLKn3eoOgQ1JXMLmVGubCqeH">
  </a>


</div>
!-->
<div class="container">
  <h1 >Retrouvez nos chaussures dans les points de vente !</h1>

  <div class="gallery-wrap">

    <div class="item item-1" onclick="location='https://www.besson-chaussures.com/'" target="_blank"></div>

    <div class="item item-2"  onclick="location='https://www.chaussexpo.fr/'"  ></div>

    <div class="item item-3" onclick="location='https://www.mano.be/fr/'"></div>

  </div>
</div>


