<body>
<button id="retour"  routerLink="/EspacePro" class="btn btn-default btn-lg"  >Retour</button>
<div    class="container" style="width: 100%;">



  <div class="card">
    <div class="card__image-container" routerLink="/Almaplanete">
      <div class="cardbg"  id="Almaplanette"  style=""></div>
    </div>
    <div class="card__content">
      <h1 class="card__title" style="background-color: rgba(255, 69, 0, 0.89);color: #FFFFFF">Alma planete</h1>

    </div>
  </div>






  <div class="card" >
    <div class="card__image-container" routerLink="/Tannage" >
      <div class="cardbg"  id="Tannagevegetal"  style=""></div>
    </div>
    <div class="card__content">
      <h1 class="card__title" style="background-color: rgba(255, 69, 0, 0.89); color: #FFFFFF">Tannage vegetal </h1>

    </div>
  </div>





  <div class="card">
    <div class="card__image-container" routerLink="/Chromefree">

      <div class="cardbg"  id="ChromeFree"  style=""></div>
    </div>
    <div class="card__content">

      <h1 class="card__title" style="background-color: rgba(255, 69, 0, 0.89);color: #FFFFFF">Chrome free </h1>

    </div>
  </div>

  <div class="card">
    <div class="card__image-container" routerLink="">
      <div class="cardbg"  id="Homme"  style=""></div>
    </div>
    <div class="card__content">
      <h1 class="card__title" style="background-color: rgba(255, 69, 0, 0.89);color: #FFFFFF">Homme </h1>

    </div>
  </div>






</div>
</body>
