







<section class="hero-section">
  <div class="cgrid">
    <a class="card" href="#">
      <div class="cardbg" style="background-image: url(https://images.pexels.com/photos/1372972/pexels-photo-1372972.jpeg?cs=srgb&dl=close-up-coffee-contemporary-1372972.jpg&fm=jpg)"></div>
      <div class="ccontent">
        <h2   style="color: #FFFFFF"    class="textcard">Alma planete</h2>
      </div>
    </a>
    <a class="card" href="#">
      <div class="cardbg" style="background-image: url(https://images.pexels.com/photos/943096/pexels-photo-943096.jpeg?cs=srgb&dl=code-coding-connection-943096.jpg&fm=jpg)"></div>
      <div class="ccontent">
        <h2   style="color: #FFFFFF"    class="textcard">Tannage vegetal</h2>
      </div>
    </a>
    <a class="card" href="#">
      <div  style="color: #FFFFFF"   class="cardbg" style="background-image: url(https://images.pexels.com/photos/218717/pexels-photo-218717.jpeg?cs=srgb&dl=blur-close-up-connection-218717.jpg&fm=jpg)"></div>
      <div class="ccontent">
        <h2   style="color: #FFFFFF"  class="textcard">Chrome free </h2>
      </div>
    </a>
    <a class="card" href="#">
      <div class="cardbg" style="background-image: url(https://images.pexels.com/photos/821749/pexels-photo-821749.jpeg?cs=srgb&dl=camera-close-up-device-821749.jpg&fm=jpg)"></div>
      <div class="ccontent">
        <h2   style="margin-left: 80% ; color: #FFFFFF" class="textcard">Homme</h2>
      </div>
    </a>
    <div>
    </div>
  </div>
</section>
