<body >
<div *ngIf="user"  class="conatiner">



  <div class="container-fluid"  >
    <img  id="logo"  src="https://drive.google.com/uc?export=view&id=1_U7WgoVxl98rSTr4ovkOmM0uPyGp9F1N">

    <p class="text" id="welcome" *ngIf="(user)">
      Connecté(e)
      <strong> {{ user?.displayName }}</strong>
      <button class="btn btn-default btn-lg text " *ngIf="user" (click)="logout()">Se deconnecter</button>
      <button routerLink="/Accueil" class="btn btn-default btn-lg text">Mon alma</button>
    </p>

  </div>


  <div class="jumbotron" >
    <button routerLink="/EspacePro" class="btn btn-default btn-lg text">Retour</button>
    <p  id="Page"> Nos projets  </p>

  </div>



  <div class="wrap">

    <div     routerLink="/Almaplanete"  class="box one">

      <div class="poster p1">
        <div class="title">AlmaPlanete</div>
      </div>
    </div>

    <div routerLink="/Tannage"  class="box two">

      <div class="poster p2">
        <div class="title">Tannage vegetal</div>
      </div>
    </div>

    <div routerLink="/Chromefree" class="box three">

      <div class="poster p3">
        <div class="title">Chrome free</div>
      </div>
    </div>

    <div routerLink="/Homme" class="box five">

      <div class="poster p4">
        <div class="title">Homme</div>
      </div>
    </div>



  </div>
</div>

</body>
