
<div id="wrapper">

  <div class="form-layout">
    <div class="form-left">
      <div routerLink="/Demandedecompte" id="info" class="info" style="color: #ffffff"><span style="color: #ffffff">Nouveau client ?</span> Demander un compte</div>
      <div class="footer">

      </div>
    </div>

    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="form-right">
      <div id="error" *ngIf="authError">Merci de verifier vos identifiants</div>
      <div>
        <input   type="email" ngModel #email="ngModel"  name="email" id="email" placeholder="Adresse Email" autocomplete="off" />
      </div>
      <div>
        <input type="password" ngModel #password="ngModel"  name="password" id="password" placeholder="Mot de passe" autocomplete="off" />
      </div>


      <button class="btn btn-default btn-lg text" type="submit">Se connecter</button>

    </form>
  </div>
</div>

<script>


</script>


