
<body>




<div class="container" >





  <div class="card">
    <a href="//drive.google.com/open?id=1Elvc4kbOEtoaDY-6Djzxa9r9HZnxjpQ0" download  target="_blank"  >
    <div class="card__image-container" >
      <div class="cardbg" style="background-image: url(http://drive.google.com/uc?export=view&id=1HTpqNFQnt2cH0ciA6zDzRikZFcBwjzWF)" id="bonbon"  ></div>
    </div>
    <div class="card__content">

        <h1 class="card__title" style="background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(253,29,29,1) 50%, rgba(252,176,69,1) 100%);" >Theme 1</h1>

    </div>
    </a>
  </div>






  <div class="card" >
    <a href="//drive.google.com/open?id=1Xo8rUJ9PTBgqIpesZIJb9vUyBKyiHMRJ" download target="_blank" >
    <div class="card__image-container" >
      <div class="cardbg " style="background-image: url(http://drive.google.com/uc?export=view&id=1i1fGfX7PlvXiWsIDQwY4bVJmvlfmrpKN)" id="active"  ></div>
    </div>
    <div class="card__content">

      <h1 class="card__title" style="background: radial-gradient(circle, rgba(34,193,195,1) 19%, rgba(253,187,45,1) 89%);" >Theme 2</h1>

    </div>
    </a>
  </div>





  <div class="card">
    <a href="//drive.google.com/open?id=1rIvBje-kmlBf-c2oWVH8b99EsG1V3S0v" download  target="_blank"  >
    <div class="card__image-container" >
      <div class="cardbg" style="background-image:url(http://drive.google.com/uc?export=view&id=1nEDNXD-I34CG0OGWlru4a0gXVzGX5JkC)" id="disco" ></div>
    </div>
    <div class="card__content">

        <h1 class="card__title rainbow" >Theme 3</h1>

    </div>
    </a>
  </div>







</div>
</body>
