<body>

<div class="container-fluid"  >
  <img  id="logo" alt="ace compagny trading , ace "  src="https://drive.google.com/uc?export=view&id=1foewSO28-mBrLgtuhYB7QtmvHwTEnvTR">

  <p class="text" id="welcome" *ngIf="(user)">
    Connecté(e)
    <strong> {{ user?.displayName }}</strong>
    <button class="btn btn-default btn-lg text " *ngIf="user" (click)="logout()">Se deconnecter</button>
    <button routerLink="/Accueil" class="btn btn-default btn-lg text">Mon alma</button>
  </p>
</div>
<div class="jumbotron">
  <button routerLink="/EspacePro" class="btn btn-default btn-lg text"><span class="glyphicon glyphicon-arrow-left"> Retour</span></button>
  <div id="Page"> Inspirations  </div>
  <div class="desc"> Retrouvez tous nos themes et inspirations pour l'hiver 2020 </div>

</div>
<div class="container">
  <div  class="wrap">

    <div   class="box one">

      <div class="poster p1">
        <a  href="https://drive.google.com/open?id=1Elvc4kbOEtoaDY-6Djzxa9r9HZnxjpQ0" download  target="_blank"  >
        <div class="title" >Haute Tension</div>
        </a>
      </div>
    </div>

    <div     class="box two">

      <div class="poster p2">
        <a href="https://drive.google.com/open?id=1Xo8rUJ9PTBgqIpesZIJb9vUyBKyiHMRJ" download target="_blank" >
        <div class="title">Active</div>
        </a>
      </div>
    </div>

    <div       class="box three">

      <div class="poster p3">

        <a href="https://drive.google.com/open?id=1rIvBje-kmlBf-c2oWVH8b99EsG1V3S0v" download  target="_blank"  >
        <div class="title" >Disco club</div>
        </a>
      </div>
    </div>
  </div>
</div>
</body>
