<div class="container">
  <div  class="wrap">

    <div   routerLink="/4PattesFilles"  class="box one">

      <div class="poster p1">
        <div class="title" style="color: rgba(255,105,178,0.88)">4 Pattes</div>
      </div>
    </div>

    <div    routerLink="/PremierPasFilles" class="box two">

      <div class="poster p2">
        <div class="title">Premiers Pas</div>
      </div>
    </div>

    <div    routerLink="/JuniorFilles"   class="box three">

      <div class="poster p3">
        <div class="title" style="color:#e8eb38 ">Junior</div>
      </div>
    </div>
  </div>
</div>
