
<div class="container">
  <div  class="wrap">

    <div   routerLink="/4PattesFilles"  class="box one">

      <div class="poster p1">
        <div class="title" style="color: rgba(255,105,178,0.88)">4 Pattes</div>
        <div style="color: rgba(255,105,178,0.88)" class="pointures">Pointures : 18 au 23</div>
      </div>

    </div>

    <div    routerLink="/PremierPasFilles" class="box two">

      <div class="poster p2">
        <div class="title">Premiers Pas</div>
        <div  style="color: #ffffff"  class="pointures">Pointures : 24 au 27</div>
      </div>
    </div>

    <div    routerLink="/JuniorFilles"   class="box three">

      <div class="poster p3">
        <div class="title" style="color:#e8eb38 ">Junior</div>
        <div  style="color: #e3e81d" class="pointures">Pointures : 28 au 38</div>
      </div>
    </div>
  </div>
</div>
