
  <img class="float-left , img-fluid" src="PhotoNotrehistoireALMA.JPG" style="padding: 2%">



  <div class="jumbotron" style="background-color: #e7f038"> <h2  id="Titre"  style="color: #FFFFFF">Notre Histoire</h2>    </div>

<h3 >

  <p>Le premier ingrédient pour créer Alma a été la passion pour la chaussure.</p>
  <p>Une aventure quotidienne qu’il traverse avec son esprit créatif, gai et intrépide.</p>
  <p>Il est donc important de respecter et de comprendre l'anatomie de son pied pour lui offrir le plus de confort possible.</p>
  <p>Trouver la bonne formule n’était pas simple, mais l’âme était déjà là: Alma.</p>
  <p>Afin de trouver l’inspiration,</p>
  <p>nous pénétrons dans le monde merveilleux de l’enfant et dans toutes les histoires qui y naissent.</p>
  <p>De l’indien dans son tipi, à l’exploratrice de grands espaces,</p>
  <p>nous voulons transmettre cet esprit aventurier à travers le design de nos chaussures,</p>
  <p>qui sont également adaptées à la vie citadine.</p>
</h3>
