
html{
  scroll-behavior: smooth;
}

header {
  position: relative;
  height: 75vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}



header .container {
  position: relative;
  z-index: 2;
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  opacity: 0.5;
  z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
  header {

  }
  header video {
    display: none;
  }
}

.container{
  width: 99%;

}


.titre{
  font-size: 5rem;
  color: #e7f038;
}

.article{
  font-size: 2rem;
  margin-top: 5%;

}

.jumbotron{
  background-color: white;
  width: 100%;


}

.mytitle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-shadow:
    0 0 5px #e7f038,
    0 0 10px #e7f038,
    0 0 20px #e7f038,
    0 0 40px #e7f038,
    0 0 80px #e7f038,
    0 0 90px #e7f038,
    0 0 100px #e7f038,
    0 0 150px #e7f038;
  font-size: 5vh;
  font-weight: 400;
}



#wraphistoire{




}
#savoirfair{
  background-size: 130% 100%;
}


#retour{
  margin-top: 1%;
  margin-left: 2%;
}


btn-default

{

  background-color: rgba(255, 69, 0, 0.89);

  color:#FFF;

  border-color: rgba(255, 69, 0, 0.89);

  margin-top: 25%;



}

.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open .dropdown-toggle.btn-default {



  background-color: rgba(255, 69, 0, 0.89);

  color:#FFF;

  border-color: rgba(255, 69, 0, 0.89);

}
font{
  font-size: 2rem;
}

#imagemicrofibre{

  width: 100%;
  height: auto;
 position: relative;


}

#Souplesse{

  width: 300px;
  height: 300px;
  float: right;

  animation-delay: 2s;
}
#Confort{
  width: 300px;
  height: 270px;
  float: left;

  animation-delay: 2s;
}
#Durabilité{
  width: 300px;
  height: 300px;
  float: right;

  animation-delay: 2s;
}
#Creativité{
  width: 300px;
  height: 300px;
  float: left;

  animation-delay: 2s;
}

#Histoire{
  margin-bottom: 0;
}
#txtmicrofibre{
  background-color: rgba(255, 255, 255, 0.61);
  padding: 1%;
  animation-delay: 50ms;


}
#txtSouplesse{
  background-color: rgba(255, 255, 255, 0.61);
  padding: 1%;
  animation-delay: 2s;
  -webkit-box-shadow: 0px 0px 4px 3px #e7f038;
  -moz-box-shadow: 0px 0px 4px 3px #e7f038;
  box-shadow: 0px 0px 4px 3px #e7f038;

}

#txtConfort{
  background-color: rgba(255, 255, 255, 0.61);
  padding: 1%;
  margin-left: 15%;
  animation-delay: 2s;
  -webkit-box-shadow: 0px 0px 4px 3px #e7f038;
  -moz-box-shadow: 0px 0px 4px 3px #e7f038;
  box-shadow: 0px 0px 4px 3px #e7f038;
}
#txtDurabilité{
  background-color: rgba(255, 255, 255, 0.61);
  padding: 1%;
  animation-delay: 2s;
  -webkit-box-shadow: 0px 0px 4px 3px #e7f038;
  -moz-box-shadow: 0px 0px 4px 3px #e7f038;
  box-shadow: 0px 0px 4px 3px #e7f038;

}
#txtCreavitité{
  background-color: rgba(255, 255, 255, 0.61);
  padding: 1%;
  animation-delay: 2s;
  margin-left: 15%;
  -webkit-box-shadow: 0px 0px 4px 3px #e7f038;
  -moz-box-shadow: 0px 0px 4px 3px #e7f038;
  box-shadow: 0px 0px 4px 3px #e7f038;

}
#txtmouton{
  float: right;
  padding: 5%;
  animation-delay: 2s;
  background-color:#002147 ;
  color: #ffffff;
}
#imagemouton{
  width: 510px;
  height: 510px;
  float: left;


  animation-delay: 2s;

}

#lespremieres{
  background-color: rgba(255, 69, 0, 0.89);
}

#PremiereTanveg{

  float: right;
  background-repeat: no-repeat;
  margin-bottom: 50%;
  animation-delay: 2s;
  height: 506px;
  width: 506px;

}
#txtlespremieres{
  color: #ffffff;
  margin-top: 0;
}




/**ANIMATIONS ** /

/** FADEIN LEFT **/

@-webkit-keyframes fadeInLeft {
  from {
    opacity:0;
    -webkit-transform: translatex(-10px);
    -moz-transform: translatex(-10px);
    -o-transform: translatex(-10px);
    transform: translatex(-10px);
  }
  to {
    opacity:1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
@-moz-keyframes fadeInLeft {
  from {
    opacity:0;
    -webkit-transform: translatex(-10px);
    -moz-transform: translatex(-10px);
    -o-transform: translatex(-10px);
    transform: translatex(-10px);
  }
  to {
    opacity:1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
@keyframes fadeInLeft {
  from {
    opacity:0;
    -webkit-transform: translatex(-100px);
    -moz-transform: translatex(-100px);
    -o-transform: translatex(-100px);
    transform: translatex(-100px);
  }
  to {
    opacity:1;
    -webkit-transform: translatex(0);
    -moz-transform: translatex(0);
    -o-transform: translatex(0);
    transform: translatex(0);
  }
}
.in-left {
  -webkit-animation-name: fadeInLeft;
  -moz-animation-name: fadeInLeft;
  -o-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -moz-animation-duration: 1s;
  -o-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  -o-animation-duration:1s;
  animation-delay: 1s;

}





@media only screen and (max-width: 400px){
  header{

    background-repeat: no-repeat;
  }

  #imagemicrofibre{

    width: 100%;
    height: auto;
    position: relative;
  }


#txtSouplesse{

}
#Souplesse{

  height: 100px;
  width: 100px;
}
#Confort{

  height: 100px;
  width: 100px;
}
#Durabilité{
  height: 100px;
  width: 100px;
}
#Creativité{
  height: 100px;
  width: 100px;
}
  .mytitle{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-shadow:
      0 0 5px #e7f038,
      0 0 10px #e7f038,
      0 0 20px #e7f038,
      0 0 40px #e7f038,
      0 0 80px #e7f038,
      0 0 90px #e7f038,
      0 0 100px #e7f038,
      0 0 150px #e7f038;
    font-size: 2vh;
    font-weight: 100;
  }


  .titre{
    font-size: 2rem;
    color: #e7f038;
  }

  .article{
    font-size: 1rem;
    margin-top: 5%;

  }
}

