
<div class="container" >

  <div class="wrapper" id="wraphistoire"  >
  <div class="image">
    <img class="" id="imagemicrofibre" alt="enfants , Tipie , Filles , Garçon , fun" src="https://drive.google.com/uc?export=view&id=1wyYoGPy6MivhO1FO-9DgegNHbwNBhND7"  >
<div class="mytitle">Notre histoire</div>
  </div>
  <div class="card in-left" id="txtmicrofibre">
    <div id="Histoire">
      <p class="article" style="margin-top: 1%"> &nbsp; &nbsp;Le premier ingrédient pour créer Alma a été la passion pour la chaussure.
        Le deuxième, l'envie d'avoir un produit qui accompagne l'enfant tout au long de sa journée.<br><br>
        &nbsp; &nbsp; Une aventure quotidienne qu'il traverse avec son esprit creatif, gai et intrépride.
        Il est donc important de respecter et de comprendre l'anatomie de son pied pour lui offrir
        le plus de confort possible
        Trouver la bonne formule n'était pas simple , mais l'ame etait deja là: Alma.<br><br>
        &nbsp; &nbsp; Afin de trouver l'inspiration nous pénétrons dans le monde merveilleux de l'enfant
        et dans toutes les histoires qui y naissent
        De l'indien dans son tipi, à l'exploratrice de grans espaces, nous voulons transmettre cet esprit aventurier à travers le design de nos chaussures, <br>
        qui sont également adaptées à la vie citadine.<br><br>
        &nbsp; &nbsp; Les chaussures, Alma sont en cuir véritable, garantissant une souplesse parfaitement ajustée à la forme du pied.<br>
        Avec un design français et une fabrication européenne, nous tenons à suivre le processus de près,
        afin d'apporter le confort et le bien-etre aux enfants.
      </p>
    </div>
  </div>
  <div class="jumbotron" style="margin-top: 2%;background-color: #e8eb38;"><p class="titre" style="margin-left: 2%;  color: #ffffff">Notre savoir faire</p></div>

  <div class="wrapper"  >

    <img class="i" id="Souplesse" alt="Souplesse , enfants , chaussures" src="https://drive.google.com/uc?export=view&id=1fRTOqHDjPOmVIDGVjr4F21xnmigGFkRL"  >

    <div class="card " id="txtSouplesse">
      <div >
        <p class="titre">Souplesse</p>
        <p class="article" style="margin-top: 1%">
          semelles résistantes à l’usure et des tiges en cuirs souples qui garantissent la qualité de nos produits.

        </p>
      </div>
    </div>
  </div>
  <div class="jumbotron" style="margin: 0"></div>
  <div class="wrapper"  >

    <img class="" id="Confort" alt="confort , enfants , chaussures" src="https://drive.google.com/uc?export=view&id=1HXtKm1er6spAvrQxivMoYbA2awK1bQMV"  >

    <div class="card i" id="txtConfort">
      <div >
        <p class="titre">Confort</p>
        <p class="article" style="margin-top: 1%">
          Respecter la croissance de l’enfant:
          comprendre l’anatomie de son pied pour lui offrir le plus de confort possible.
        </p>
      </div>
    </div>
  </div>
  <div class="jumbotron" style="margin: 0"></div>
  <div class="wrapper"  >

    <img class="in-right" id="Durabilité" alt="durabilité , enfants , chaussures" src="https://drive.google.com/uc?export=view&id=1CXBlGtM6abbTupvLHLqun2booe6c6e67"  >

    <div class="card  " id="txtDurabilité">
      <div >
        <p class="titre">Durabilité</p>
        <p class="article" style="margin-top: 1%">
          Avoir un produit adapté à la vie citadine tout en gardant l’esprit intrépide de l’enfant.
          Etre rigoureux  dans le choix des matières, mais aussi penser au design d’un produit adapté à son parcours aventurier.

        </p>
      </div>
    </div>
  </div>
  <div class="jumbotron" style="margin: 0"></div>
  <div class="wrapper"  >

    <img class="in-right" id="Creativité" alt="creativité , enfants , chaussures" src="https://drive.google.com/uc?export=view&id=1efsO1sunFcTK826Ips7VyNAZfU9MWYFQ"  >

    <div class="card " id="txtCreavitité">
      <div >
        <p class="titre">Creativité</p>
        <p class="article" style="margin-top: 1%">
          De l’indien dans son tipi, à l’exploratrice de grands espaces, nous voulons pénétrer dans
          l’esprit aventurier de l’enfant en valorisant l’originalité et la gaîté de cet univers dans nos produits.

        </p>
      </div>
    </div>
  </div>


</div>
</div>
