
<div class="content" >



  <div class="wrapper"  >

    <img class="in-left" id="imagemicrofibre" src="https://drive.google.com/uc?export=view&id=1RCQPhZ9-0htpJylufk0LEz0C5WACHg5K"  >

    <div class="card in-right" id="txtmicrofibre">
      <p class="titre">Notre histoire</p>
      <p class="article">Le premier ingrédient pour créer Alma a été la passion pour la chaussure.
        <br>
        Avec Alma, nous nous mettons à la place des enfants : nous jouons, nous rêvons, nous osons.<br>
        Mais au-delà de l'originalité de nos modèles,<br>
        notre but est de proposer une gamme de chaussures confortables capable
        d’accompagner l'esprit créatif et aventurier de l'enfant.<br>
        d’accompagner l'esprit créatif et aventurier de l'enfant.<br>
        d’accompagner l'esprit créatif et aventurier de l'enfant.<br>
      </p>
    </div>
  </div>

  <div class="jumbotron" style="margin: 0"></div>


  <div class="wrapper" id="savoirfair" style="background-color: #ffffff"  >

    <img class="in-right" id="PremiereTanveg" src="https://drive.google.com/uc?export=view&id=1IyCVYho2AxaTja8Pk2LYH_qXnbqQXw4p"  >



    <div class="card in-left" id="txtPremiereTanveg">
      <p class="titre" >Notre savoir faire</p>
      <p class="article">
       Avec Alma, nous nous mettons à la place des enfants : nous jouons, nous rêvons, nous osons.<br>
       Mais au-delà de l'originalité de nos modèles,
       notre but est de proposer une gamme de chaussures confortables capable
        d’accompagner l'esprit créatif et aventurier de l'enfant.<br>

       C'est pourquoi nos semelles sont résistantes à l'usure, souples et flexibles.
       Notre exigence quant au choix des cuirs véritables garantit au mieux le confort et la
        qualité de nos produits.<br>
       La production étant européenne, nous accompagnons chaque étape du
        processus de production, de la conception jusqu'au montage.<br>

       Nous mettons le design en valeur car la qualité ne doit pas seulement être ressentie, elle doit également se voir

        Chaque élément est important pour Alma :  le choix de couleurs assorties,
        les doublures, les lacets, les embossages.
        Aucun détail ne passe à côté, afin de permettre à nos
        aventuriers de se sentir libres à d’explorer ce monde plein d'aventures!

    </div>
  </div>





</div>


