<div class="container">
  <div class="card" >

    <div class="container-fliud">

      <div class="wrapper row">
        <div class="preview col-md-6">

          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1" ><img src="https://drive.google.com/uc?export=view&id=12NWNrud9IuTG_ARi58U9QCPbejg4QL_F" /><font style="color: #002042 ">Bleu marine</font></div>
            <div class="tab-pane " id="pic-2"><img src="https://drive.google.com/uc?export=view&id=1O_tZD6WkWoET0D3bgEij5XpwRjyhx_Eh" /><font style="color: #b55314 ">Marron</font></div>




          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li class="active"><a data-target="#pic-1" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=12NWNrud9IuTG_ARi58U9QCPbejg4QL_F" /></a></li>
            <li class="active"><a data-target="#pic-2" data-toggle="tab"><img src="https://drive.google.com/uc?export=view&id=1O_tZD6WkWoET0D3bgEij5XpwRjyhx_Eh" /></a></li>

          </ul>

        </div>
        <div class="details col-md-6">
          <h4 class="product-title" style="margin-top: 2% ">Etoile</h4>

          <div class="informations">



            <div class="form-group"  style="margin-top: 10%"   >
              <label style="font-size: 30px">Pointures</label>

                <div class="row">19 , 20 , 21 , 22 , 23 , 24 , 25 , 26 , 27  </div>



            </div>
            <div class="action" >
              <button routerLink="/PPFilles"  id ='retour'  class="btn btn-danger" type="button">Retour</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
