<button id="retour"  routerLink="/Projets" class="btn btn-default btn-lg"  >
  <span class="glyphicon glyphicon-arrow-left"> Retour</span>
</button>
<img id="ChromeFree"    src="https://drive.google.com/uc?export=view&id=1vltow3Buta4t_FALbkBJ1HAsxioeJQKj" >



<div class="content" >



  <div id="wrapPremiere" class="wrapper" >

    <div class="card in-left" id="lespremieres" > <p class="titre" style="color: rgba(255, 69, 0, 0.89)"> Les premieres : quel est le meilleur choix ? </p> </div>

    <div id="cardpremieres" class="card in-right" style="background-color: #ffffff; border:none!important;">

      <p class="article" id="txtlespremieres">Depuis longtemps le pig skin est consideré
        comme l'option la  plus adéquate à nos pieds: confortable , durable et respirants
        Aujourd'hui le choix des matières est beaucoup plus large et  nous pouvons trouver des solutions bien plus adaptées
      , Avec  nos usines en Russie , nous avons crée une gamme avec un concept naturel  pour nos premières, ainsi que pour nos tiges <br>

    </div>


  <div  id="separation" class="jumbotron">
    <div id="Page">Voici notre selection
  </div>
  </div>

  <div #target id="wrapmicrofibre"  class="wrapper" style="background-color:  #ffffff" >

    <img class="in-left" id="imagemicrofibre" alt="chromefree , tannage , cuir" src="https://drive.google.com/uc?export=view&id=1_TRBGwbAFIWNlKQ88jmRzzTYr6YdPOgl"  >

    <div class="card in-right" id="txtmicrofibre">
      <p class="jumbotron   titre">La microfibre</p>
      <p class="article"> La microfibre technique peut absorber jusqu’à 8 fois son poids en l’eau, de sorte que la sueur
        ne s'accumule pas à l'intérieur de la chaussure.
        Mais quelles sont ses autres qualités?
        <br>
        <span class="dot"></span> Lavable: Cette microfibre résiste à
        des températures allant jusqu'à 95 ° C sans rétrécir ni altérer ses qualités techniques.
        Grâce à une membrane composée de molécules hydrophiles, le lavage n’altere ses qualités.
        <br>
        <span class="dot"></span> Recyclable: Fabriqué en polyester, il
        cause moins de dommages à l'environnement et peut être recyclé sans problème.
        <br>
        <span class="dot"></span> Un tissu antibacterien et hypoallergénique<br>
        <span class="dot"></span> Comme il s’agit d’un tissu en polyester,<br>
        il n’y a pas de Chrome ou Chrome VI dedans.<br>
        <span class="dot"></span> Un large choix de coloris avec une possibilité d’avoir des parfums
        tels que l’eucalyptus ou l’aloès vera.<br>
      </p>
    </div>
  </div>

  <div class="jumbotron" style="background-color: #ffffff ; margin: 5px"></div>


  <div  id="wraptanveg" class="wrapper" style="background-color: #ffffff"  >

    <img class="in-right" id="PremiereTanveg" alt="tannage vegetal , cuire" src="https://drive.google.com/uc?export=view&id=1Bei7otEu4nWbY0Tg_91yy2OCjs0hPxcA"  >



    <div class="card in-left" id="txtPremiereTanveg">
      <p class="jumbotron    titre" >Une première en tannage végétal</p>
      <p class="article">
        Avec des réglementations très strictes dans la chaussure, la Russie a l’obligation d’utliser des matières
        d’origine animale ou végétale. Grâce à ça, nous cherchons différentes solutions  pour obtenir un <br>
        produit naturel et sans éléments chimiques.
        Le tannage végétal  utilise uniquement des composants naturels et le cuir possède une tenue ferme,
        ainsi qu’une meilleure absorption de l’humidité.<br>
        Plusieurs densités de cuir sont disponibles: pour faire des sandales avec une première épaisse,
        aux premières amovibles plus fines en pig skin sans chrome.<br>

      </p>
    </div>
  </div>

  <div class="jumbotron" style="background-color: #ffffff ; margin: 5px"></div>

  <div   id="wrapperMouton"  class="wrapper" style="background-color: #ffffff" >

    <img class="in-left"  alt="peau de mouton" id="imagemouton" src="https://drive.google.com/uc?export=view&id=1BC4DNn0y7dMGOo2MWvNG3Bmhk7jN1NDG">
    <div class="card in-right" id="txtmouton">
      <p class="jumbotron   titre"   style="font-size: 3.3vh" >La peau de mouton sur les tiges</p>
      <p class="article">
        Ce choix de cuir a été fait uniquement sur nos produits «quatre pattes»,<br>
        du 18 au 23. Le cuir de mouton est connu pour sa texture <br>
        soyeuse et délicate, très adaptée aux chaussures bébés.<br>
        Cette gamme a été développée pour apporter un confort maximal,
        des produits légers et des semelles très souples.<br>
        Vous pouvez également rajouter des premières amovibles en microfibre technique ou en pig skin sans chrome.<br>

      </p>
    </div>
  </div>



</div>

</div>
