@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

@font-face {
  font-family: Sonorous;
  src: url("assets/sonorous.ttf") format("opentype");


}
@font-face {
  font-family: cat;
  src: url("assets/CAT.ttf") format("opentype");
}

@font-face {
  font-family: concert;
  src: url("assets/concertone-regular.ttf") format("opentype");
}

html,body {
  font-family: Happymaker, serif;
  margin: 0;
}

.basic-container {
  padding: 30px;
}

.version-info {
  font-size: 8pt;
  float: right;
}/* You can add global styles to this file, and also import other style files */


