#slider {
  /*height: 350px;
  overflow: hidden;
  width: 100%;*/
  position: relative;
  margin: 5%;
}

li{
  background-color: #e7f038;
  width: 80px;
  height: 80px;

}
ol{
  margin-left: 20%;
}


.carousel-item {
  height: 350px;
}

.carousel-indicators li {
  width: 40px;
  height: 40px;
  border-radius: 100%;
}
.carousel-indicators {
  bottom: -50px;

}


.jumbotron{

}

body {
  background-color: lightslategray;
}

@media (max-width: 768px){
  .carousel-indicators li {
    display: none;
  }
}
