<div class="row">
  <div class="container">
    <div class="col-md-4">
      <div class="product-container">
        <div class="product-image">
          <span class="hover-link"></span>
          <a href="#" class="product-link">details</a>
          <img class="img-responsive" id="Cannes1" src="http://drive.google.com/uc?export=view&id=1PVfP1Rpwb2qOI-DH0WtB8igFn6RJoUsk" alt="Lorem Ipsum">
        </div>
        <div class="product-description">
          <div class="product-label">
            <div class="product-name">
              <h1>Cannes</h1>
              <p class="price"></p>
              <p></p>
              <p></p>

            </div>
          </div>
          <div class="product-option">
            <div class="product-size">
              <h3>Tailles</h3>
              <p>XS,S,M,L,XL,XXL</p>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div class="col-md-4">
      <div class="product-container">

        <div class="product-image">
          <span class="hover-link"></span>
          <a href="#" class="product-link">details</a>
          <img class="img-responsive"  id="Cannes2"  src="http://drive.google.com/uc?export=view&id=1xyEkThtpUkht3mkgSjPQA31MBRBgSRw6" alt="Lorem Ipsum">
        </div>
        <div class="product-description">
          <div class="product-label">
            <div class="product-name">
              <h1>Cannes</h1>
              <p class="price"></p>
              <p></p>
              <p></p>
            </div>
          </div>
          <div class="product-option">
            <div class="product-size">
              <h3>Tailles</h3>
              <p>XS,S,M,L,XL,XXL</p>
            </div>
          </div>
        </div>
      </div>
    </div>



    <div class="col-md-4">
      <div class="product-container">
        <div class="product-image">
          <span class="hover-link"></span>
          <a href="#" class="product-link">details</a>
          <img class="img-responsive" id="Victor1"  src="http://drive.google.com/uc?export=view&id=1z5Ktp2VBSDXRqdbf33VvqdOrfZHB_tSB" alt="Lorem Ipsum">
        </div>
        <div class="product-description">
          <div class="product-label">
            <div class="product-name">
              <h1>Victor</h1>
              <p class="price"></p>
              <p></p>
              <p></p>
            </div>
          </div>
          <div class="product-option">
            <div class="product-size">
              <h3>Tailles:</h3>
              <p>XS,S,M,L,XL,XXL</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="product-container">
        <div class="product-image">
          <span class="hover-link"></span>
          <a href="#" class="product-link">details</a>
          <img class="img-responsive" id="Victor2"  src="http://drive.google.com/uc?export=view&id=1bZ6IEgM0SfmCIaHD_f74C-ZupBi7KGo2" alt="Lorem Ipsum">
        </div>
        <div class="product-description">
          <div class="product-label">
            <div class="product-name">
              <h1>Victor</h1>
              <p class="price"></p>
              <p></p>
              <p></p>
            </div>
          </div>
          <div class="product-option">
            <div class="product-size">
              <h3>Tailles:</h3>
              <p>XS,S,M,L,XL,XXL</p>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
